<!-- Permission settings -->
<div class="form-group">
  <label class="col-sm-2 control-label" translate="APP.FILE_LIBRARY.SETTINGS.EDITORS.LABEL"></label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input name="edit" type="radio" ng-model="$ctrl.app.settings.modifyRole" value="NONE">
        <i class="zmdi zmdi-globe zmdi-wide"></i>{{::'APP.FILE_LIBRARY.SETTINGS.EDITORS.EVERYONE.LABEL' | translate}}<br>
        <span class="text-muted" translate="APP.FILE_LIBRARY.SETTINGS.EDITORS.EVERYONE.DESCRIPTION"></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="edit" type="radio" ng-model="$ctrl.app.settings.modifyRole" value="ADMIN">
        <i class="zmdi zmdi-lock-outline zmdi-wide"></i>{{::'APP.FILE_LIBRARY.SETTINGS.EDITORS.ADMINS.LABEL' | translate}}<br>
        <span class="text-muted" translate="APP.FILE_LIBRARY.SETTINGS.EDITORS.ADMINS.DESCRIPTION"></span>
      </label>
    </div>
  </div>
</div>

<coyo-divider ng-click="$ctrl.showAdvanced = !$ctrl.showAdvanced">
  <span translate="APP.FILE_LIBRARY.SETTINGS.ADVANCED"></span>
  <i class="zmdi zmdi-hc-fw"
     ng-class="{'zmdi-caret-down': !$ctrl.showAdvanced, 'zmdi-caret-up': $ctrl.showAdvanced}"></i>
</coyo-divider>


<!-- Folder settings -->
<div class="form-group" ng-show="$ctrl.showAdvanced">
  <label class="col-sm-2 control-label" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.LABEL"></label>

  <!-- New App -->
  <div ng-if="$ctrl.isNewApp" class="col-sm-9">
    <div class="radio">
      <label>
        <input name="folder" type="radio" ng-model="$ctrl.folderMode" value="CREATE">
        <i class="zmdi zmdi-folder-star-alt zmdi-wide"></i>{{::'APP.FILE_LIBRARY.SETTINGS.FOLDER.EMPTY.LABEL' | translate}}<br>
        <span class="text-muted" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.EMPTY.DESCRIPTION"></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="folder" type="radio" ng-model="$ctrl.folderMode" value="SELECT">
        <i class="zmdi zmdi-folder zmdi-wide"></i>{{::'APP.FILE_LIBRARY.SETTINGS.FOLDER.SELECT.LABEL' | translate}}<br>
        <span class="text-muted" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.SELECT.DESCRIPTION"></span>
      </label>
      <div ng-if="$ctrl.folderMode === 'SELECT'" class="file-library-settings-picker">
        <coyo-file-picker ng-model="$ctrl.app.settings.folder"
                          required
                          name="folder"
                          oyoc-validate-file-library-app-lock="{{$ctrl.app}}"
                          sender="$ctrl.sender"
                          options="$ctrl.options"
                          modal-title="APP.FILE_LIBRARY.SETTINGS.FOLDER.PICKER_TITLE"></coyo-file-picker>
        <ng-messages for="settingsForm.folder.$error" class="help-block">
          <ng-message when="appLock" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.APP_LOCKED"></ng-message>
          <ng-message when="required" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.REQUIRED"></ng-message>
        </ng-messages>
      </div>
    </div>
  </div>

  <!-- Existing App -->
  <div ng-if="!$ctrl.isNewApp" class="col-sm-9 file-library-settings-picker">
    <coyo-file-picker ng-model="$ctrl.app.settings.folder"
                      required
                      name="folder"
                      oyoc-validate-file-library-app-lock="{{$ctrl.app}}"
                      sender="$ctrl.sender"
                      options="$ctrl.options"
                      modal-title="APP.FILE_LIBRARY.SETTINGS.FOLDER.PICKER_TITLE"></coyo-file-picker>
    <ng-messages for="settingsForm.folder.$error" class="help-block">
      <ng-message when="appLock" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.APP_LOCKED"></ng-message>
      <ng-message when="required" translate="APP.FILE_LIBRARY.SETTINGS.FOLDER.REQUIRED"></ng-message>
    </ng-messages>
  </div>
</div>