<div class="panel file-library-app">
  <div class="panel-heading">
    <h3 class="panel-title">{{::$ctrl.app.name}}</h3>
  </div>
  <div class="panel-body file-library file-library-standalone"
       ngf-drop
       ng-model="$ctrl.droppedFiles"
       ngf-drop-disabled="!$ctrl.sender._permissions.manage"
       ngf-drag-over-class="'dragover'"
       ngf-multiple="true"
       ngf-allow-dir="true">
    <coyo-file-library sender="::$ctrl.sender"
                       options="$ctrl.fileLibraryOptions"
                       dropped-files="$ctrl.droppedFiles">
    </coyo-file-library>
  </div>
</div>
