<div class="comment">
  <div class="comment-header">
    <div class="comment-author-avatar hidden-xs" ng-if="::$ctrl.ngModel.author">
      <coyo-sender-avatar sender="::$ctrl.ngModel.author" avatar-size="xs"></coyo-sender-avatar>
    </div>
    <a ng-if="::$ctrl.ngModel.author" coyo-sender-link="::$ctrl.ngModel.author" class="comment-author">{{::$ctrl.ngModel.author.displayName}}</a>
    <small class="text-muted comment-time">
      <i class="zmdi zmdi-hc-fw zmdi-time"></i>&nbsp;<coyo-time-ago date="::$ctrl.ngModel.created"></coyo-time-ago>
    </small>
    <small>
      <coyo-btn-likes target="::$ctrl.ngModel" init="::$ctrl.ngModel.likes" condensed></coyo-btn-likes>
    </small>
    <a ng-if="::$ctrl.ngModel._permissions.delete" ng-click="$ctrl.remove()" class="comment-remove" title="{{::'DELETE' | translate}}"><i class="zmdi zmdi-close"></i></a>
  </div>
  <div class="comment-body">
    <div class="comment-message" coyo-mention-encode="$ctrl.ngModel.message | markdown | hashtag"></div>
  </div>
  <div class="panel-body comments-item-attachments" ng-if="::$ctrl.ngModel.attachments.length">
    <coyo-preview-list attachments="::$ctrl.ngModel.attachments"
                       group-id="::$ctrl.ngModel.id"
                       backend-url="::$ctrl.backendUrl"
                       author="::$ctrl.ngModel.author"
                       preview-url="::$ctrl.previewUrl"
                       size="xl"></coyo-preview-list>
  </div>
</div>
