.titles-container {
  flex: 1;
  padding: 12px 16px;

  @media screen and (min-width: $screen-sm-min) {
    padding: 14px 24px 12px 24px;
  }

  @media screen and (min-width: $screen-md-min) {
    padding: 16px 24px;
  }

  .title {
    font-size: 20px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  .subtitle {
    color: $msm-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}