.img-file-type {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  &.img-word { 
    background-image: url('../assets/images/file-type/img-word.svg'); 
  }

  &.img-excel {
    background-image: url('../assets/images/file-type/img-excel.svg'); 
  }

  &.img-powerpoint {
    background-image: url('../assets/images/file-type/img-powerpoint.svg'); 
  }

  &.img-image {
    background-image: url('../assets/images/file-type/img-image.svg');
  }

  &.img-video {
    background-image: url('../assets/images/file-type/img-video.svg'); 
  }

  &.img-pdf {
    background-image: url('../assets/images/file-type/img-pdf.svg'); 
  }

  &.img-file-text {
    background-image: url('../assets/images/file-type/img-file-text.svg'); 
  }

  &.img-file {
    background-image: url('../assets/images/file-type/img-file.svg'); 
  }
}

