.sidebar.messaging {

  .messaging-channel-info {
    height: 100%;
    display: flex;
    flex-direction: column;

    .load-more {
      display: block;
      padding: 8px 12px;
      background-color: $msm-black;
      text-align: center;
    }

    .list-item {
      padding: 8px 12px;
      color: $msm-gray-light;
      background-color: $msm-black;
      margin-bottom: 1px;
    }

    .messaging-channel-info-members {
      .messaging-channel-info-member {
        display: flex;
        align-items: center;

        .user-avatar {
          flex: none;

          .online-status {
            border-color: $msm-black;
          }
        }

        .user-name {
          flex: 1;
          color: $msm-gray-light;

          @include ellipsis();
        }

        .user-role {
          flex: none;
          font-size: 13px;
          color: $msm-gray;
        }

        .context-menu {
          margin-left: 8px;
        }
      }
    }

    .messaging-channel-info-attachments {
      .messaging-channel-info-attachment {
        display: block;

        .attachment-name-row {
          display: flex;
          align-items: center;

          .attachment-name {
            flex: 1;
            padding-left: 6px;

            @include ellipsis();
          }
        }

        .attachment-info-row {
          flex: none;
          font-size: 13px;
          color: $msm-gray-dark;
          padding-left: 26px;
        }

        .file-icon {
          color: $msm-gray-light;
        }
      }
    }
  }
}
