<div class="alert alert-warning" translate="WIDGETS.VIDEO.SETTINGS.MESSAGE"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" translate="WIDGETS.VIDEO.SETTINGS.CONFIG.URL.LABEL"></label>
  <div class="col-sm-9">
    <input name="url" class="form-control" type="text" ng-model="$ctrl.model.settings.url"
           translate translate-attr-placeholder="WIDGETS.VIDEO.SETTINGS.CONFIG.URL.PLACEHOLDER" required>
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.VIDEO.SETTINGS.CONFIG.URL.HELP"></coyo-help>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" translate="WIDGETS.VIDEO.SETTINGS.CONFIG.TITLE.LABEL"></label>
  <div class="col-sm-9">
    <input name="title" class="form-control" type="text" ng-model="$ctrl.model.settings.title">
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.VIDEO.SETTINGS.CONFIG.TITLE.HELP"></coyo-help>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" translate="WIDGETS.VIDEO.SETTINGS.CONFIG.DESCRIPTION.LABEL"></label>
  <div class="col-sm-9">
    <input name="description" class="form-control" type="text" ng-model="$ctrl.model.settings.description">
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.VIDEO.SETTINGS.CONFIG.DESCRIPTION.HELP"></coyo-help>
  </div>
</div>
