.blog-widget {

  .blog-widget-article {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .blog-widget-icon {
      color: $msm-gray-darker;
      margin-left: 3px;
      margin-right: 11px;
    }
  }
}
