<li ng-class="{'active': $ctrl.active}" class="filter-entry">
  <a href ng-click="::$ctrl.clickHandler()">
    <i class="zmdi {{$ctrl.loading ? 'zmdi-spinner zmdi-hc-spin' : $ctrl.icon}}" style="{{::$ctrl.iconStyle}}"></i><span>{{$ctrl.text}}</span><span translate="{{::$ctrl.textKey}}"></span>
    <ng-transclude></ng-transclude>
    <span ng-if="$ctrl.badge" class="badge">{{$ctrl.badge}}</span>
  </a>
</li>
