<form class="form-horizontal" name="form" role="form" msm-form-submit="$close({message: vm.message, recipient:vm.recipient})" novalidate>
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="COMMONS.SHARES.TITLE"></h3>
      <span class="modal-close" ng-click="$dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" role="alert" ng-show="!vm.parentIsPublic" translate="COMMONS.SHARES.WARNING.PRIVATE"></div>
      <div class="form-group row">
        <label class="col-sm-2 control-label" translate="COMMONS.SHARES.TIMELINE.LABEL"></label>
        <div class="col-sm-9">
          <coyo-select-sender ng-model="vm.recipient" required="true" placeholder="MODULE.TIMELINE.SHARE.DIALOG.SELECT_SENDER.PLACEHOLDER"></coyo-select-sender>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="COMMONS.SHARES.TIMELINE.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label" translate="COMMONS.SHARES.MESSAGE.LABEL"></label>
        <div class="col-sm-9">
          <textarea ng-model="vm.message" class="form-control resize-v resize-max"
                    msd-elastic rows="3" coyo-mention-select></textarea>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="COMMONS.SHARES.MESSAGE.HELP"></coyo-help>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <msm-form-submit-button label="COMMONS.SHARES.SUBMIT" form-ctrl="form"></msm-form-submit-button>
    </div>
  </div>
</form>