// Account settings
// --------------------------------------------------

.panel-body-xs {
  padding: 10px 0 0;
}

.account-delete {
  background-color: $msm-red;
  color: $msm-white;
}

.click-to-change {
  cursor: pointer;
  padding: 5px;
}

.click-to-change-icon {
  color: $color-link;
}

.panel-body-loading-xs {
  padding: 10px !important;
}

.loading-right-mobile {
  padding: 14px;
}

// PushDevices
// --------------------------------------------------

.push-device-active-state-indicator {
  border-radius: 3px;
  color: $msm-white;
  font-size: 12px;
  line-height: 1.5;
  padding: 2px 8px;
  text-align: center;
  text-transform: uppercase;
  min-width: 85px;
}

.push-device-active-state-active {
  background-color: $msm-green;
}

.push-device-active-state-inactive {
  background-color: $msm-red;
}

.push-devices-loading {
  text-align: center;
}

.no-push-devices {
  text-align: center;
}

// mobile
.push-device-modal {
  ul.push-devices {
    > li {
      display: flex;

      .icon {
        width: 30px;
        align-self: center;
      }

      .body {
        flex: 1;
        padding: 0 12px;
      }

      .right {
        text-align: right;
        align-self: center;
      }
    }
  }

  .device-name {
    font-size: 16px;
  }

  .device-created {
    color: $msm-gray;
    font-size: 14px;
    padding-left: 1px;
  }

  .device-action-buttons {
    width: 100%;
    margin-top: 9px;
  }

  .device-action-button {
    font-size: 16px;
    width: calc(50% - 4px);
  }
}
