.btn-flag {
  display: inline-block;

  a {
    color: $msm-gray;
    transition: color linear 0.2s;
    line-height: 22px;

    &:hover {
      color: $msm-gray-darker;
    }

    &.handle {
      font-size: 20px;
    }
  }

  &.active a.handle {
    color: $msm-red;
  }

  &.loading a.handle {
    color: $msm-gray-light;
  }
}