<form name="form" role="form" msm-form-submit="vm.submit(vm.oldPassword, vm.newPassword)" novalidate>
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="PASSWORD.CHANGE.TITLE"></h3>
      <span class="modal-close" ng-click="$dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
    </div>
    <div class="modal-body">

      <!-- Old password -->
      <div class="form-group"
           ng-class="{ 'has-error' : form.oldPassword.$touched && form.oldPassword.$dirty && form.oldPassword.$invalid }">
        <label for="oldPassword" class="control-label"
               translate="PASSWORD.CHANGE.OLD_PASSWORD.HINT"></label>
        <div class="input-group">
          <span class="input-group-addon"
                ng-click="vm.inputTypes.oldPassword = (vm.inputTypes.oldPassword === 'password') ? 'text' : 'password'">
            <i class="zmdi zmdi-key"
               ng-class="{'zmdi-key': vm.inputTypes.oldPassword !== 'text', 'zmdi-edit': vm.inputTypes.oldPassword === 'text'}"></i>
          </span>
          <input
              type="{{ vm.inputTypes.oldPassword === 'text' ? 'text' : 'password' }}"
              class="form-control"
              id="oldPassword"
              name="oldPassword"
              ng-model="vm.oldPassword"
              placeholder="{{:: 'PASSWORD.CHANGE.OLD_PASSWORD.PLACEHOLDER' | translate}}"
              ng-disabled="vm.status.loading"
              required />
        </div>
        <p class="help-block validation" ng-if="form.oldPassword.$error.required"
           translate="PASSWORD.CHANGE.ERRORS.REQUIRED"></p>
      </div>

      <!-- New password -->
      <div class="form-group"
           ng-class="{ 'has-error' : form.newPassword.$touched && form.newPassword.$dirty && form.newPassword.$invalid }">
        <label for="newPassword" class="control-label"
               translate="PASSWORD.CHANGE.NEW_PASSWORD.HINT"></label>
        <div class="input-group">
          <span class="input-group-addon"
                ng-click="vm.inputTypes.newPassword = (vm.inputTypes.newPassword === 'password') ? 'text' : 'password'">
            <i class="zmdi zmdi-key"
               ng-class="{'zmdi-key': vm.inputTypes.newPassword !== 'text', 'zmdi-edit': vm.inputTypes.newPassword === 'text'}"></i>
          </span>
          <input
              type="{{ vm.inputTypes.newPassword === 'text' ? 'text' : 'password' }}"
              class="form-control"
              id="newPassword"
              name="newPassword"
              ng-model="vm.newPassword"
              coyo-check-not-equals="vm.oldPassword"
              coyo-check-matches="vm.passwordPattern"
              placeholder="{{::'PASSWORD.CHANGE.NEW_PASSWORD.PLACEHOLDER' | translate}}"
              ng-disabled="vm.status.loading"
              required />
          <span class="input-group-addon">
            <i class="zmdi"
               ng-class="{'zmdi-check-circle validation-correct': form.newPassword.$valid,
                   'zmdi-close-circle-o validation-incorrect': form.newPassword.$dirty && form.newPassword.$invalid,
                   'zmdi-circle-o': !form.newPassword.$dirty}"></i>
          </span>
        </div>
        <p class="help-block validation" ng-if="form.newPassword.$error.required"
           translate="PASSWORD.CHANGE.ERRORS.REQUIRED"></p>
        <p class="help-block validation" ng-if="form.newPassword.$error.matches"
           translate="PASSWORD.CHANGE.ERRORS.NEW_PASSWORD_INVALID"></p>
        <p class="help-block validation" ng-if="form.newPassword.$error.notEquals"
           translate="PASSWORD.CHANGE.ERRORS.OLD_EQUALS_NEW"></p>
      </div>

      <!-- Confirm new password -->
      <div class="form-group mb-xs"
           ng-class="{ 'has-error' : form.confirmPassword.$touched && form.confirmPassword.$dirty && form.confirmPassword.$invalid }">
        <label for="confirmPassword" class="control-label"
               translate="PASSWORD.CHANGE.CONFIRM_PASSWORD.HINT"></label>
        <div class="input-group">
          <span class="input-group-addon"
                ng-click="vm.inputTypes.confirmPassword = (vm.inputTypes.confirmPassword === 'password') ? 'text' : 'password'">
            <i class="zmdi zmdi-key"
               ng-class="{'zmdi-key': vm.inputTypes.confirmPassword !== 'text',
                   'zmdi-edit': vm.inputTypes.confirmPassword === 'text'}"></i>
          </span>
          <input
              type="{{ vm.inputTypes.confirmPassword === 'text' ? 'text' : 'password' }}"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              ng-model="vm.confirmNewPassword"
              coyo-check-equals="vm.newPassword"
              placeholder="{{::'PASSWORD.CHANGE.CONFIRM_PASSWORD.PLACEHOLDER' | translate}}"
              ng-disabled="vm.status.loading"
              required />
          <span class="input-group-addon">
            <i class="zmdi"
               ng-class="{'zmdi-check-circle validation-correct': form.confirmPassword.$valid,
                   'zmdi-close-circle-o validation-incorrect': form.confirmPassword.$dirty && form.confirmPassword.$invalid,
                   'zmdi-circle-o': !form.confirmPassword.$dirty}"></i>
          </span>
        </div>
        <p class="help-block validation" ng-if="form.confirmPassword.$error.required"
           translate="PASSWORD.CHANGE.ERRORS.REQUIRED"></p>
        <p class="help-block validation" ng-if="form.confirmPassword.$error.equals"
          translate="PASSWORD.CHANGE.ERRORS.NEW_NEQ_CONFIRM_NEW"></p>
      </div>

    </div>
    <div class="modal-footer">
      <msm-form-submit-button label="PASSWORD.CHANGE.SUBMIT" form-ctrl="form"></msm-form-submit-button>
    </div>
  </div>
</form>