<form name="form" role="form" msm-form-submit="vm.submit(vm.language)" novalidate>
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="MODULE.ACCOUNT.MODALS.SELECT_LANGUAGE.TITLE"></h3>
      <span class="modal-close" ng-click="$dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
    </div>
    <div class="modal-body">
      <div class="form-group mv-xxs">
        <coyo-select-language ng-model="vm.language" placeholder="{{::'MODULE.ACCOUNT.MODALS.SELECT_LANGUAGE.PLACEHOLDER' | translate}}" required></coyo-select-language>
      </div>
    </div>
    <div class="modal-footer">
      <msm-form-submit-button label="MODULE.ACCOUNT.MODALS.SELECT_LANGUAGE.SUBMIT" form-ctrl="form"></msm-form-submit-button>
    </div>
  </div>
</form>