<div class="single-blog-article-widget-settings">
  <div class="text-center m-m" ng-if="$ctrl.loading">
    <msm-spinner size="small"></msm-spinner>
  </div>

  <div class="form-group" ng-if="!$ctrl.loading">
    <label class="col-sm-2 control-label" translate="WIDGETS.BLOGARTICLE.SETTINGS.BLOG_ARTICLE"></label>
    <div class="col-sm-9">
      <coyo-select-blog-article ng-required="true" ng-model="$ctrl.selectedArticle"></coyo-select-blog-article>
    </div>
    <div class="col-sm-1 hidden-xs">
      <help tip="WIDGETS.BLOGARTICLE.SETTINGS.BLOG_ARTICLE.HELP"></help>
    </div>
  </div>
</div>
