.file-icon {
  position: relative;

  .zmdi {
    font-size: 24px;
    color: $msm-gray-darker;

    &.file-icon-uploading {
      position: absolute;
      overflow: hidden;
      color: $msm-gray;
      left: 0;
      top: 0;
    }
  }
}

&.muted .file-icon .zmdi {
  color: $msm-gray-light;
}