<form name="settingsForm" class="form-horizontal" msm-form-submit="$ctrl.save()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="ADMIN.SETTINGS.GENERAL"></h3>
    </div>
    <div class="panel-body">

      <!-- Network name -->
      <div class="form-group">
        <label for="networkName" class="col-sm-3 control-label"
               translate="ADMIN.SETTINGS.NETWORK_NAME.LABEL"></label>
        <div class="col-sm-8">
          <input id="networkName" name="networkName" type="text" class="form-control"
                 ng-model="$ctrl.settings.networkName" placeholder="Coyo">
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SETTINGS.NETWORK_NAME.HELP"></coyo-help>
        </div>
      </div>

      <!-- Tracking code -->
      <div class="form-group">
        <label for="trackingCode" class="col-sm-3 control-label"
               translate="ADMIN.SETTINGS.TRACKING_CODE.LABEL"></label>
        <div class="col-sm-8">
          <textarea id="trackingCode" name="trackingCode" class="form-control" rows="5"
                    ng-model="$ctrl.settings.trackingCode" placeholder="<script ...></script>"></textarea>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SETTINGS.TRACKING_CODE.HELP"></coyo-help>
        </div>
      </div>

      <!-- Landing Page Subnavigation -->
      <div class="form-group">
        <label for="subNavigationActive"
               class="col-sm-3 control-label"
               translate="ADMIN.SETTINGS.SUB_NAVIGATION.ACTIVE.LABEL"></label>
        <div class="col-sm-8">
          <coyo-checkbox id="subNavigationActive" name="subNavigationActive"
                        ng-model="$ctrl.settings.subNavigationActive"></coyo-checkbox>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SETTINGS.SUB_NAVIGATION.ACTIVE.HELP"></coyo-help>
        </div>
      </div>

      <!-- Anonymize deleted users -->
      <div class="form-group">
        <label for="anonymizeDeletedUsers"
               class="col-sm-3 control-label"
               translate="ADMIN.SETTINGS.ANONYMIZE_DELETEDUSERS.ACTIVE.LABEL"></label>
        <div class="col-sm-8">
          <div class="table-row">
            <msm-checkbox id="anonymizeDeletedUsers" name="anonymizeDeletedUsers" ng-true-value="true" ng-false-value="false"
                          ng-model="$ctrl.settings.deletedUserAnonymizationActive" class="table-cell"></msm-checkbox>
            <span class="text-warning pl-xs table-cell" ng-if="$ctrl.settings.deletedUserAnonymizationActive === 'true'"
                  translate="ADMIN.SETTINGS.ANONYMIZE_DELETEDUSERS.WARNING"></span>
          </div>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SETTINGS.ANONYMIZE_DELETEDUSERS.ACTIVE.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group" uib-collapse="$ctrl.settings.deletedUserAnonymizationActive === 'false'"
          ng-class="{'has-error': $ctrl.settings.deletedUserAnonymizationActive === 'true' && settingsForm.deletedUserName.$error.required}">
        <label for="deletedUserName" class="col-sm-3 control-label"
               translate="ADMIN.SETTINGS.ANONYMIZE_DELETEDUSERS.DELETED_NAME.LABEL"></label>
        <div class="col-sm-8">
          <input id="deletedUserName" name="deletedUserName" type="text" class="form-control"
                 ng-model="$ctrl.settings.deletedUserDisplayName" maxlength="63"
                 ng-required="$ctrl.settings.deletedUserAnonymizationActive === 'true'"
                 ng-disabled="$ctrl.settings.deletedUserAnonymizationActive === 'false'">
          <ng-messages for="settingsForm.deletedUserName.$error" class="help-block validation">
            <p ng-message="required" translate="ERRORS.VALIDATION.REQUIRED"></p>
          </ng-messages>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SETTINGS.ANONYMIZE_DELETEDUSERS.DELETED_NAME.HELP"></coyo-help>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-actions">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <msm-form-submit-button label="SAVE" form-ctrl="settingsForm"></msm-form-submit-button>
        </div>
      </div>
    </div>
  </div>
</form>
