<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title" translate="ADMIN.APPS_WIDGETS.APPS.TITLE"></h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th translate="ADMIN.APPS_WIDGETS.APPS.HEADERS.APP"></th>
          <th ng-repeat="senderType in $ctrl.senderTypes" class="text-center" translate="ADMIN.APPS_WIDGETS.APPS.HEADERS.{{ senderType | uppercase }}"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in $ctrl.apps">
          <td>
            {{:: app.name | translate }}<br>
            <small class="text-muted hidden-xs">{{:: app.description | translate }}</small>
          </td>
          <td class="text-center" ng-repeat="senderType in $ctrl.senderTypes">
            <coyo-checkbox class="m-0" ng-model="app.enabledSenderTypes[senderType]" ng-click="$ctrl.toggle(senderType, app)"></coyo-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
