<div class="text-center m-m" ng-show="$ctrl.loading">
  <msm-spinner size="small"></msm-spinner>
</div>
<p class="widget-status-alert text-muted alert alert-warning" ng-if="$ctrl.errorMessage">{{::$ctrl.errorMessage}}</p>
<em class="text-muted" ng-if="$ctrl.emptyResult">{{::$ctrl.emptyMessage | translate}}</em>