<div class="panel panel-default">
  <form name="translationForm" class="form-horizontal" msm-form-submit="$ctrl.save($ctrl.language)">
    <div class="panel-heading">
      <h3 class="panel-title" translate="ADMIN.TERMS.GENERAL"></h3>
    </div>
    <div class="panel-body">
      <!-- Activation -->
      <div class="form-group">
        <label for="terms-active" class="col-sm-3 control-label" translate="ADMIN.TERMS.GENERAL.ACTIVATE.LABEL"></label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <coyo-checkbox id="terms-active" ng-model="$ctrl.active" ng-disabled="!$ctrl.canActivate()">></coyo-checkbox>
              <span translate="ADMIN.TERMS.GENERAL.ACTIVATE.HELP" ng-class="{'text-muted': !$ctrl.canActivate()}"></span>
            </label>
          </div>
          <p class="help-block" ng-hide="$ctrl.canActivate()"><span class="text-danger" translate="ADMIN.TERMS.GENERAL.ACTIVATE.FORBIDDEN"></span></p>
        </div>
      </div>
      <div class="form-group">
        <label for="terms-user-hidden" class="col-sm-3 control-label" translate="ADMIN.TERMS.GENERAL.HIDDENUSERS.LABEL"></label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <coyo-checkbox id="terms-active" ng-model="$ctrl.hiddenUsers" ng-disabled="!$ctrl.active">></coyo-checkbox>
              <span translate="ADMIN.TERMS.GENERAL.HIDDENUSERS.HELP" ng-class="{'text-muted': !$ctrl.active}"></span>
            </label>
          </div>
        </div>
      </div>
      <hr>
      <!-- Translations -->
      <div class="form-group">
        <label for="title" class="col-sm-3 control-label" translate="ADMIN.TERMS.GENERAL.TITLE.LABEL"></label>
        <div class="col-sm-8">
          <input id="title" name="title" type="text" class="form-control" required maxlength="255"
                ng-model="$ctrl.translations[$ctrl.language].title">
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.TERMS.GENERAL.TITLE.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-sm-3 control-label" translate="ADMIN.TERMS.GENERAL.CONTENT.LABEL"></label>
        <div class="col-sm-8">
          <coyo-rte ng-model="$ctrl.translations[$ctrl.language].text" required></coyo-rte>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.TERMS.GENERAL.CONTENT.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group">
        <label for="url" class="col-sm-3 control-label" translate="ADMIN.TERMS.GENERAL.URL.LABEL"></label>
        <div class="col-sm-8">
          <input id="url" name="url" type="text" class="form-control" maxlength="255"
                ng-model="$ctrl.translations[$ctrl.language].url" placeholder="http://">
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.TERMS.GENERAL.URL.HELP"></coyo-help>
        </div>
      </div>
    </div>
    <div class="panel-footer panel-actions">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <msm-form-submit-button label="SAVE" form-ctrl="translationForm"></msm-form-submit-button>
          <a class="btn btn-default" ng-click="$ctrl.reset()">
            <i class="zmdi zmdi-hc-fw zmdi-time-restore-setting"></i>&nbsp;{{::'ADMIN.TERMS.GENERAL.RESET' | translate}}
          </a>
        </div>
      </div>
    </div>
  </form>
</div>