.comment {
  border-bottom: 1px solid $msm-gray-light;
  font-size: 14px;
  margin-top: 12px;
  padding: 0 16px 4px;

  &.last {
    border-bottom: 0;
    padding-bottom: 0;
  }

  // attachments
  .comments-item-attachments {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  // header
  .comment-header {
    align-items: center;
    display: flex;

    .comment-author-avatar {
      margin-right: 8px;
    }

    .comment-author {
      color: $msm-black;
      font-weight: bold;
    }

    .comment-author, .comment-time {
      margin-right: 8px;
      @include ellipsis();

      @media screen and (min-width: $screen-sm-min) {
        margin-right: 12px;
      }
    }

    .btn-likes {
      margin-left: 2px;

      a.handle {
        font-size: 16px;
      }
      a.count {
        margin-left: 0;
        top: -1px;
      }
    }

    .comment-remove {
      color: $msm-gray-light;
      margin-left: auto;

      &:hover {
        color: $msm-gray;
      }
    }
  }

  // body
  .comment-body {
    margin-top: -4px;
    word-break: break-word;
    word-wrap: break-word;

    @media screen and (min-width: $screen-sm-min) {
      padding-left: 38px;
    }
  }
}
