<span ng-click="uchooser.openChooser()" class="user-chooser btn btn-default" ng-class="{disabled: uchooser.loading}">
   <i class="zmdi zmdi-hc-fw zmdi-account-add"></i><!--
--><span ng-hide="uchooser.loading" translate="{{:: uchooser.btnTitle }}" translate-value-users="{{uchooser.ngModel.users.length || 0}}" translate-value-groups="{{uchooser.ngModel.groups.length || 0}}"></span><!--
--><span ng-show="uchooser.loading">{{:: 'USER_CHOOSER.BUTTON_TITLE.LOADING' | translate }}&nbsp;<i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
</span>
