<div class="comments" ng-class="{ empty : (!$ctrl.comments.length && !$ctrl.newComments.length) }">
  <div class="panel panel-default panel-sm">
    <div class="comments-list panel-body">

      <div ng-if="$ctrl.total > ($ctrl.comments.length + $ctrl.newComments.length)" class="load-more">
        <a ng-click="$ctrl.loadMore()" translate="COMMENTS.LOAD_MORE"></a>
        <span>
          <i ng-show="$ctrl.loading" class="zmdi zmdi-spinner zmdi-hc-spin"></i>
          <small ng-hide="$ctrl.loading" class="text-muted">{{($ctrl.comments.length + $ctrl.newComments.length)}} /
            {{$ctrl.total}}
          </small>
        </span>
      </div>

      <coyo-comment ng-model="::comment" ng-repeat="comment in $ctrl.comments track by comment.id" ng-class="{last: $last}"></coyo-comment>

      <div class="comments-new-divider" ng-if="$ctrl.newComments.length && $ctrl.comments.length">
        <span class="line"></span>
        <span class="text" translate="COMMENTS.NEW"></span>
        <span class="line"></span>
      </div>

      <coyo-comment ng-model="::comment" ng-repeat="comment in $ctrl.newComments track by comment.id" ng-class="{last: $last}"></coyo-comment>
    </div>

    <div class="comments-form panel-footer" ng-show="$ctrl.currentPage" coyo-global-permissions="CREATE_COMMENT">
      <form name="$ctrl.form" class="form-horizontal" msm-form-submit="$ctrl.submitForm()">
        <div class="comments-form-inner">
          <textarea name="message"
                    class="form-control"
                    ng-model="$ctrl.formModel.message"
                    ng-required="true"
                    ng-attr-placeholder="{{::'COMMENTS.FORM.PLACEHOLDER' | translate}}"
                    msd-elastic rows="1"
                    ng-keypress="$ctrl.formKeyPress($event)"
                    focus-if="$ctrl.focusMessageField"
                    ng-blur="$ctrl.focusMessageField = false"
                    coyo-mention-select></textarea>

          <coyo-emoji-picker ng-model="$ctrl.formModel.message"
                             focus-var="$ctrl.focusMessageField"></coyo-emoji-picker>

          <a class="comments-form-attachment-trigger"
             ngf-select="$ctrl.addAttachments($files, $invalidFiles)"
             ngf-multiple="true"
             ng-disabled="$ctrl.loading">
            <i class="zmdi zmdi-attachment-alt"
               uib-tooltip="{{::'ATTACH_FILES' | translate}}" tooltip-popup-delay="500"></i>
          </a>

          <!-- Hidden field to disable the submit button when uploading -->
          <input type="hidden" value="" data-ng-model="$ctrl.isCurrentlyUploading" ng-required="$ctrl.isUploading()" />

          <msm-form-submit-button label="SEND" form-ctrl="::$ctrl.form"></msm-form-submit-button>
        </div>
      </form>
    </div>

    <div class="comments-form-attachments" ng-if="$ctrl.newItemAttachments.length">
      <div class="comments-form-attachment"
           ng-repeat="attachment in $ctrl.newItemAttachments | limitTo:20"
           ng-class="{ uploading : attachment.uploading, done : (attachment.progress === 100) }">
        <div class="comments-form-attachment-icon">
          <coyo-file-icon file="::attachment" class="zmdi-hc-lg"></coyo-file-icon>
        </div>
        <div class="comments-form-attachment-name">{{::attachment.name}}</div>
        <div class="comments-form-attachment-opt">
          <span class="text-muted" ng-if="attachment.uploading">{{attachment.progress}}%</span>
          <a ng-if="!attachment.uploading" ng-click="$ctrl.removeAttachment(attachment)">
            <i class="zmdi zmdi-close-circle-o red"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
