.navbar.navbar-admin {
  background-color: $color-background-admin-nav;

  @media screen and (min-width: $screen-md-min) {
    display: none;
  }

  @media screen and (min-width: $screen-lg-min) {
    position: static;
  }

  .msm-navbar-flex {
    max-width: none;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: darken($color-background-admin-nav, 5%);
  }
}