<nav class="navbar msm-navbar navbar-fixed-top navbar-admin">
  <div class="msm-navbar-flex">
    <ul class="nav nav-left">
      <li class="nav-item hidden-md hidden-lg">
        <a class="nav-item-icon zmdi zmdi-menu" ng-click="$ctrl.openMenu()"></a>
      </li>
    </ul>
    <div class="nav-search"></div>
    <ul class="nav nav-right">
      <li class="nav-item">
        <a class="nav-item-icon zmdi zmdi-close-circle-o" ui-sref="main"></a>
      </li>
    </ul>
  </div>
</nav>
