.reconnect-warning-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: $msm-white;
  background-color: $msm-red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1029;

  @media screen and (min-width: $screen-lg-min) {
    padding-right: $size-sidebar-messaging-static;

    &.compact {
      padding-right: $size-sidebar-messaging-compact;
    }
  }

  a {
    color: $msm-white;

    &:hover {
      color: $msm-gray-lighter;
    }
  }
}
