.page {

  .change-cover {
    margin-right: 8px !important;
  }

  .sender-actions {
    .btn {
      padding: 5px 13px;

      @media screen and (min-width: $screen-sm-min) {
        padding: 8px 16px;
      }
    }
  }

  .image-header {

    .cover-image {
      position: relative;

      @media screen and (min-width: $screen-md-min) {
        border-radius: 5px 5px 0 0;
      }
    }

    .page-avatar-container {
      position: relative;
      margin: -22px 0 12px 16px;

      @media screen and (min-width: $screen-sm-min) {
        margin: -60px 0 16px 24px;
      }

      @media screen and (min-width: $screen-md-min) {
        margin: -54px 0 16px 24px;
      }

      @media screen and (min-width: $screen-lg-min) {
        margin: -94px 0 16px 24px;
      }

      .avatar-overlay-container {
        border-radius: 0 0 5px 5px;
      }
    }

    .sender-avatar {
      border: 3px solid $msm-white;
      background-color: $color-page-avatar-bg;
      border-radius: 5px;
    }
  }
}