.pages-list .category-manager li.filter-entry {
  &:hover:not(.filter-entry-editing) > a {
    padding-right: 88px !important;
  }

  @media screen and (min-width: $screen-md-min) {
    &.filter-entry-options:hover > a .badge {
      display: none;
    }
  }
}

.page-card {
  height: 80px;

  @media screen and (min-width: $screen-md-min) {
    height: 160px;
  }

  .sender-avatar {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;

    img,
    .sender-avatar-empty {
      border-radius: 0;
      background-color: $color-page-avatar-bg;

      @media screen and (min-width: $screen-md-min) {
        border-radius: 5px 0 0 5px;
      }
    }
  }

  .panel-body {
    height: 100%;
    padding: 10px 18px 10px 98px;
    position: relative;

    @media screen and (min-width: $screen-sm-min) {
      padding: 10px 24px 10px 104px;
    }
    @media screen and (min-width: $screen-md-min) {
      padding: 16px 24px 16px 184px;
    }
  }

  .page-card-heading {
    display: flex;

    h4 {
      flex: 1;
      margin: 1px 0 6px;
      position: relative;
      @include ellipsis();

      @media screen and (min-width: $screen-md-min) {
        font-size: 20px;
        padding-right: 24px;
      }
    }
  }

  .page-card-apps {
    font-size: 14px;
    margin: -2px 0 6px;
  }

  .page-card-labels .label {
    float: left;
    margin-right: 4px;
  }
}
