.job-status {

  .progress {
    margin-bottom: 0;

    .progress-bar {
      min-width: 2em;
    }
  }

  .job-succeeded {
    color: $msm-green;
  }
  .job-failed {
    color: $msm-red;
  }
  .job-datetime {
    margin-left: 2px;
  }
}