.badge {
  margin: -2px 2px 0 2px;
}

.badge.badge-red {
  background-color: $color-red;
  color: #FFF;
}

.badge.badge-muted {
  background-color: $color-gray-lighter;
  color: $color-gray;
}

.badge.badge-lg {
  font-size: 14px;
  padding: 5px 12px;
}