<div class="admin-authentication-list" ng-cloak>

  <div class="text-center mv-m" ng-if="$ctrl.loading">
    <msm-spinner></msm-spinner>
  </div>

  <div ng-if="!$ctrl.loading">
    <coyo-filterbox>
      <fb-search>
        <coyo-search-filter change="$ctrl.onChangeName"
                            placeholder="ADMIN.LANDING_PAGES.SEARCH"
                            search-term="{{$ctrl.queryParams.name}}"></coyo-search-filter>
      </fb-search>
      <fb-count>
        <coyo-counter value="$ctrl.authenticationProviders.length"
                      key-none="ADMIN.AUTHENTICATION.HEADINGS.AUTHENTICATION_NONE"
                      key-singular="ADMIN.AUTHENTICATION.HEADINGS.AUTHENTICATIONS_SINGULAR"
                      key-plural="ADMIN.AUTHENTICATION.HEADINGS.AUTHENTICATIONS_PLURAL"></coyo-counter>
      </fb-count>
      <fb-actions>
        <li>
          <a ui-sref="admin.authentication-providers.create">
            <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'ADMIN.AUTHENTICATION.OPTIONS.CREATE' | translate }}
          </a>
        </li>
      </fb-actions>
    </coyo-filterbox>

    <div class="panel panel-default panel-list">
      <div class="panel-body">

        <!-- mobile view -->
        <ul ng-if="$ctrl.isMobile" class="list-group">
          <li ng-if="$ctrl.page.content.length"
              class="text-center text-muted pv-s"
              translate="ADMIN.AUTHENTICATION.HEADINGS.SEARCH.EMPTY"></li>
          <li ng-repeat="row in $ctrl.authenticationProviders track by row.id"
              ng-class="{'animate-removal': $ctrl.userAction }"
              id="group-row-{{$index}}"
              class="list-group-item">
            <div class="row">
              <div class="col-xs-8" ng-class="{'text-muted': row.id === $ctrl.internalAuthenticationProvider.id}">
                <div>{{:: row.name }}</div>
                <div class="text-muted">{{:: $ctrl.getTypeName(row.type) | translate }}</div>
              </div>
              <div class="col-xs-4 text-right">
                <coyo-active-label ng-model="row.active"></coyo-active-label>
              </div>
            </div>
          </li>
        </ul>
        <coyo-context-menu ng-repeat="row in $ctrl.authenticationProviders track by row.id"
                           ng-if="$ctrl.isMobile && row.id !== $ctrl.internalAuthenticationProvider.id"
                           toggle-element="#group-row-{{$index}}"
                           title="{{row.name}}">
          <oyoc-authentication-provider-options actions="$ctrl.actions" authentication-provider="row"></oyoc-authentication-provider-options>
        </coyo-context-menu>

        <!-- desktop view -->
        <table ng-if="!$ctrl.isMobile" class="table table-striped table-hover m-0"
               ui-tree="$ctrl.treeOptions" empty-placeholder-enabled="false" max-depth="1"
               drag-enabled="$ctrl.authenticationProviders.length > 1 && !$ctrl.isFiltered">
          <colgroup>
            <col>
            <col>
            <col width="30%">
            <col width="15%">
            <col>
          </colgroup>
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th translate="ADMIN.AUTHENTICATION.HEADINGS.NAME"></th>
            <th translate="ADMIN.AUTHENTICATION.HEADINGS.TYPE"></th>
            <th translate="ADMIN.AUTHENTICATION.HEADINGS.ACTIVE"></th>
            <th></th>
          </tr>
          </thead>

          <tbody ui-tree-nodes max-depth="1" ng-model="$ctrl.authenticationProviders">
          <tr ng-hide="$ctrl.authenticationProviders.length">
            <td colspan="4" class="text-center text-muted" translate="ADMIN.AUTHENTICATION.HEADINGS.SEARCH.EMPTY"></td>
          </tr>
          <tr ng-repeat="row in $ctrl.authenticationProviders track by row.id" ui-tree-node
              ng-class="{'animate-removal': $ctrl.userAction, 'text-muted': row.id === $ctrl.internalAuthenticationProvider.id}">
            <td class="column-options">
              <i ng-if="row.id !== 'INTERNAL'" class="zmdi zmdi-hc-fw zmdi-swap-vertical"
                 ng-class="{'forbidden gray-light': $ctrl.authenticationProviders.length < 2 || $ctrl.isFiltered}"
                 ui-tree-handle></i>
            </td>
            <td class="column-options"></td>
            <td>
              {{::row.name}}
              <span class="authentication-provider-auto-login"
                    ng-if="row.autoLogin"
                    uib-tooltip="{{::'ADMIN.AUTHENTICATION.AUTO_LOGIN.TOOLTIP' | translate}}">
                  <i class="zmdi zmdi-star"></i>
                </span>
            </td>
            <td>{{::$ctrl.getTypeName(row.type) | translate}}</td>
            <td>
              <coyo-active-label ng-model="row.active"></coyo-active-label>
            </td>
            <td class="column-options">
              <coyo-context-menu align-right="true" ng-if="row.id !== $ctrl.internalAuthenticationProvider.id">
                <oyoc-authentication-provider-options actions="$ctrl.actions" authentication-provider="row"></oyoc-authentication-provider-options>
              </coyo-context-menu>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
