.btn-shares {
  display: inline-block;

  a {
    color: $msm-gray;
    transition: color linear 0.2s;
    line-height: 26px;

    &:hover {
      color: $msm-gray-darker;
    }

    &.handle {
      font-size: 128.571428571%;
    }

    &.count {
      margin-left: 4px;
    }
  }

  &.loading a {
    color: $msm-gray-light;
  }

  &.active a.handle {
    color: $msm-blue;
  }

  &.active a.count {
    color: inherit;
  }
}

.btn-shares-modal {

  .modal-body {
    @media screen and (min-width: $screen-sm-min) {
      padding-top: 0;
    }
  }

  .timeline-share {

    &:last-child {
      border-bottom: 0;
    }

    .panel-body {
      padding: 16px 0;

      @media screen and (min-width: $screen-sm-min) {
        padding: 16px;
      }
    }
  }
}
