<div class="curtain" ng-if="$root.curtain.loading" ng-class="{'blank-only': $root.curtain.blankOnly}">
  <div class="curtain-content" ng-if="$root.curtain.loading">
    <div class="mb-xs"><msm-spinner inverted="true" size="large"></msm-spinner></div>
    <div class="curtain-tip">{{ $ctrl.tip }}</div>
  </div>
</div>
