.attachment-previews {
  overflow: hidden;
  height: auto;

  .item-attachment {
    width: 33.33%;
    float: left;
    padding-bottom: 33.33%;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $screen-xs-min) {
      width: 25%;
      padding-bottom: 25%;
    }

    coyo-file-preview {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 2px;
      float: left;

      .pi-container {
        width: 100%;
        height: 100%;
        text-align: center;
        border: 1px solid $msm-gray-lighter;

        .pi-background-container {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center 25%;
          background-repeat: no-repeat;
        }

        .pi-spinner-container,
        .pi-spinner-vert-container {
          margin-top: calc(50% - 28px);
        }

        .pi-file-icon {
          margin-top: calc(50% - 36px);
        }

        &.processing {
          .pi-file-icon {
            margin-top: 0;
          }
        }
      }
    }

    &:first-of-type {
      width: 100%;
      padding-bottom: 50%;

      &.single-file {
        max-height: 300px;
        padding-bottom: 0;
        overflow: hidden;

        coyo-file-preview {
          position: static;
          height: auto;

          .pi-container {
            height: auto;
            border: 0 none;

            img {
              height: auto;
              max-height: 300px;
              max-width: 100%;
            }

            .pi-file-icon,
            .pi-spinner-container,
            .pi-spinner-vert-container {
              margin-top: 0;
            }
          }
        }
      }

      coyo-file-preview {
        .pi-container {
          .pi-spinner-container,
          .pi-spinner-vert-container {
            margin-top: calc(25% - 28px);
          }
        }
      }

      .pi-spinner-container {
        padding-bottom: 25px;
      }
    }
  }
}

.attachment-list {
  padding: 15px 4px 0 0;
  .item-attachment {
    clear: both;
    display: flex;
    padding: 4px 0;

    .item-attachment-icon {
      color: $msm-black;
      flex: none;
      padding-right: 4px;
    }

    .item-attachment-name {
      flex: 1;
      padding-right: 5px;
      @include ellipsis();
    }

    .item-attachment-length {
      color: $msm-gray;
      flex: none;
    }
  }
}
