.timeline-stream {

  .load-new-items {
    margin-bottom: 8px;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 16px;
      margin-top: -8px;
    }
  }
}
