.user-list-item {
  display: flex;
  margin: 0 0 10px;
  padding: 8px;
  flex-direction: row;
  flex: 100%;

  @media screen and (min-width: $screen-xs-min) {
    flex: 49% 0;
  }

  @media screen and (min-width: $screen-md-min) {
    flex: 32% 0;
  }

  .user-info {
    flex: 1;
    align-self: center;
    margin-left: 16px;

    .user-profession {
      color: $msm-gray;
      font-size: 14px;
    }

  }

  &:hover {
    cursor: pointer;
  }

  &.selected {
    .user-avatar::after {
      display: inline-block;
      background-color: $msm-green;
      border: 2px solid white;
      border-radius: 100%;

      font-family: 'Material-Design-Iconic-Font';
      font-size: 12px;
      content: '\f26b';
      color: $msm-white;
      text-align: center;

      position: absolute;
      bottom: -2px;
      right: -2px;

      width: 22px;
      height: 22px;
      line-height: 20px;
    }
  }

  .user-avatar {
    width: 60px;
    height: 60px;
    align-self: center;
  }
}