<li class="superadmin-navbar-item" ng-show="::$ctrl.user.superadmin">
  <a ng-click="$ctrl.toggleSuperadminMode()">
    <i class="zmdi zmdi-hc-fw"
       ng-class="::{'zmdi-eye': !$ctrl.user.superadminMode, 'zmdi-eye-off': $ctrl.user.superadminMode}"></i>
    <span ng-if="::!$ctrl.user.superadminMode" translate="USER.SUPERADMIN.NAV.ENABLE"></span>
    <span ng-if="::$ctrl.user.superadminMode" translate="USER.SUPERADMIN.NAV.DISABLE"></span>
  </a>
</li>