.panel .subscriptions-widget .nav li {
  margin-left: -30px;
  margin-right: -30px;
}

.subscriptions-widget {
  hr {
    border-color: $msm-gray-light;
    margin: 12px -30px 24px;
  }

  .subscriptions-widget-title {
    .header {
      padding-bottom: 3px;
    }

    a {
      color: $msm-gray;
      &:hover, &:focus {
        color: $msm-gray-darker;
      }
    }

    .filter {
      border: 0;
      border-bottom: 1px solid $msm-gray-light;
      outline: none;
      width: calc(100% - 24px);
    }
  }
}
