.dropdown-menu {
  padding: 0;
  @include box-shadow(0, 1px, 1px, rgba(0,0,0,.05));

  > li > a {
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .divider {
    margin: 0;
  }

  i {
    margin-left: -4px;
    margin-right: 4px;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    border-left: 4px solid $color-blue;
    padding-left: 12px;
  }
}