.profile-group {
  margin-bottom: 36px;

  .btn-edit {
    position: absolute;
    right: 16px;
    top: 0;

    @media screen and (max-width: $screen-xs-max) {
      top: -38px;
    }
  }

  .form-horizontal .form-group {
    margin-left: 0;
  }

  .profile-group-header-group {
    border-bottom: 1px solid $msm-gray-lighter;
    padding-bottom: 5px;

    .control-label {
      color: $msm-black !important;
    }
  }

  .is-editing {
    .control-label {
      &.control-label-content {
        top: 7px;
      }
    }
  }

  .form-group {
    margin-right: 0;

    .control-label {
      padding-top: 0;
    }
  }

  .control-label-header {
    font-weight: normal;
  }

  textarea {
    resize: none;
  }
}
