<form name="form" msm-form-submit="vm.save()" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title" ng-if="!vm.group.isNew()">
        {{:: 'ADMIN.USER_MGMT.GROUPS.OPTIONS.EDIT' | translate}} <small>{{:: vm.group.displayName }}</small>
      </h1>
      <h1 class="panel-title" ng-if="vm.group.isNew()">
        {{:: 'ADMIN.USER_MGMT.GROUPS.OPTIONS.CREATE' | translate }}
      </h1>
    </div>
    <div class="panel-body form-horizontal">

      <div class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$touched}">
        <label for="displayName"
               class="col-sm-2 control-label"
               translate="ADMIN.USER_MGMT.GROUPS.DISPLAY_NAME.LABEL"></label>
        <div class="col-sm-9">
          <input id="displayName"
                 name="displayName"
                 type="text"
                 class="form-control"
                 ng-model="vm.group.displayName"
                 ng-required="true">
          <ng-messages for="form.displayName.$error" class="help-block validation">
            <p ng-message="required">{{:: 'ERRORS.VALIDATION.REQUIRED' | translate }}</p>
          </ng-messages>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.USER_MGMT.GROUPS.DISPLAY_NAME.HELP"></coyo-help>
        </div>
      </div>

      <div class="form-group">
        <label for="roles" class="col-sm-2 control-label" translate="USER.ROLES"></label>
        <div class="col-sm-10">
          <coyo-select-roles id="roles"
                             ng-model="vm.roles"
                             placeholder="ADMIN.USER_MGMT.GROUPS.DETAILS.SELECT_ROLES"></coyo-select-roles>
        </div>
      </div>

      <div class="form-group">
        <label for="users" class="col-sm-2 control-label" translate="ADMIN.USER_MGMT.GROUPS.USERS.LABEL"></label>
        <div class="col-sm-9">
          <coyo-user-chooser name="users" id="users" ng-model="vm.group" users-only="true"></coyo-user-chooser>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-actions">
      <div class="row">
        <div class="col-sm-10 col-sm-push-2">
          <msm-form-submit-button form-ctrl="form" label="SAVE"></msm-form-submit-button><!--
       --><a ui-sref="^" class="btn btn-default">
            <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{::'CANCEL' | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
