.sidebar.messaging {
  .messaging-header.messaging-channel-header {
    flex: none;
    display: flex;

    .messaging-header-icon-bar {
      flex: none;
      
      &.pulse > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1px;
        background-color: $msm-red;
        color: $msm-white;
        border-radius: 50%;
        transition: color linear 0.5s;
        animation: pulse 1s infinite linear;
      }

      .context-menu {
        .context-menu-toggle {
          display: inline-block;
          font-size: 18px;
          color: $msm-gray-light;
          &:hover {
            color: $msm-gray;
          }
        }
      }
    }

    .messaging-title {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;
      padding: 0 12px;

      cursor: pointer;


      .msm-spinner {
        flex: none;
        margin: 0;
      }

      .messaging-channel-avatar {
        flex: none;
      }

      .messaging-channel-name {
        text-transform: none;
        padding-left: 8px;
        line-height: 1.5;

        @include ellipsis();
      }
    }
  }
}