// Forms
// --------------------------------------------------

form {
  .validation-correct {
    color: $color-form-correct;
  }

  .validation-incorrect {
    color: $color-form-error;
  }

  .custom-error {
    color: $color-form-error;
  }

  .form-group {
    .help-block.validation {
      display: none;
    }

    &.has-error .help-block {
      display: block;
    }
  }

  textarea.resize-max {
    min-height: 88px;
    max-height: 208px;
    overflow-y: scroll !important;
  }
}
