// Variables
// --------------------------------------------------

// bootstrap fonts
// --------------------------------------------------
$icon-font-path: '../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// animations
// --------------------------------------------------
$shake-ms: 500ms;

// colors
// --------------------------------------------------
$color-original: #374555;
$color-primary: $color-original;
$color-secondary: #242f39;
$color-navbar-border: #9bbf29;
$color-background-main: #e8e8e8;
$color-text-highlight-bg: rgba(255, 201, 0, 0.2);

// front
// --------------------------------------------------
$color-front-box: #404040;

// error
// --------------------------------------------------
$color-valid: $msm-green;
$color-error-border: #fff;
$color-error-bg: #c50b0b;
$color-error: #fff;

// links
// --------------------------------------------------
$color-link: $msm-blue;

// navbar
// --------------------------------------------------
$msm-navbar:               $color-primary;
$msm-navbar-hover:         rgba(0, 0, 0, 0.15);
$msm-navbar-active:        rgba(0, 0, 0, 0.3);
$msm-navbar-text:          $msm-white;
$msm-navbar-text-active:   $msm-white;
$msm-navbar-text-disabled: rgba($msm-white, 0.5);
$msm-navbar-input:         $msm-navbar-active;
$msm-navbar-input-active:  rgba(0, 0, 0, 0.4);
$msm-navbar-input-text:    $msm-white;
$msm-navbar-placeholder:   rgba($msm-white, 0.5);

// buttons
// --------------------------------------------------
$btn-primary-bg: $color-primary;

// forms
// --------------------------------------------------
$color-input-group-addon-bg: #fff;
$color-placeholder: #d6d6d6;
$color-form-error: #a94442;
$color-form-correct: $msm-green;
$input-border-focus: $color-primary;
$input-inplace-edit-border: #dadada;


// admin
// --------------------------------------------------
$color-primary-admin: $color-original;
$color-background-admin-nav: $color-primary-admin;
$color-background-admin-sidebar: $color-primary-admin;
$color-link-admin-sidebar: rgba($msm-white, 0.5);
$color-link-admin-sidebar-active: $msm-white;

// images
// --------------------------------------------------
$image-coyo-nav: '../assets/images/logos/coyo/logo-coyo-inversed-nav.png';
$image-coyo-nav-hd: '../assets/images/logos/coyo/logo-coyo-inversed-nav-hd.png';
$image-coyo-front: '../assets/images/logos/coyo/logo-coyo-inversed-front.png';
$image-coyo-front-hd: '../assets/images/logos/coyo/logo-coyo-inversed-front-hd.png';
$image-coyo-black: '../assets/images/logos/coyo/logo-coyo-black-front.png';
$image-coyo-black-hd: '../assets/images/logos/coyo/logo-coyo-black-front-hd.png';

// sizes
// --------------------------------------------------
$size-content-max: $msm-layout-max-width;
$size-sidebar-main: 275px;
$size-sidebar-messaging: 375px;
$size-sidebar-messaging-xs: 275px;
$size-sidebar-messaging-static: 275px;
$size-sidebar-messaging-compact: 85px;
$width-navbar-brand: 125px;
$height-image-front: 80px;

// zindex
// --------------------------------------------------
$zindex-sidebar: 1045;
$zindex-messaging: 1030;
$zindex-subnav: 990;

// comments
// --------------------------------------------------
$color-comments-bg: #F8F8F8;

// pages
// --------------------------------------------------
$color-page-avatar-bg: #DADADA;

// workspaces
// --------------------------------------------------
$color-workspace-avatar-bg: #DADADA;

// widgets
// --------------------------------------------------
$color-widget-hover-bg: #FFF5DD;

// panels
// --------------------------------------------------
$panel-body-padding-negate-sm: -10px -18px;
$panel-body-padding-negate-md: -24px -30px;

// wizard
// --------------------------------------------------
$msm-wizard-color: $color-primary;

// messaging sidebar
// --------------------------------------------------
$color-messaging-sidebar-bg: #444;

// modals
// --------------------------------------------------
$msm-modal-header-bg:      $color-primary;
$msm-modal-header-text:    $msm-white;

// timeline
// --------------------------------------------------
$color-timeline-unread-bg: #FFF5DD;

// ribbons
// --------------------------------------------------
$msm-ribbon-new-bg: $msm-blue;
$msm-ribbon-new-bg-shadow: darken($msm-blue, 15%);
$msm-ribbon-sticky-bg: $msm-red;
$msm-ribbon-sticky-bg-shadow: darken($msm-red, 15%);
$msm-ribbon-read-bg: $msm-green;
$msm-ribbon-read-bg-shadow: darken($msm-green, 15%);
