<span class="btn-shares" ng-class="{ loading: $ctrl.isLoading, active: $ctrl.count > 0 }">
  <a class="handle" ng-click="$ctrl.share()"><i class="zmdi zmdi-hc-fw zmdi-hc-flip-horizontal zmdi-mail-reply"></i></a>
  <a class="count" ng-click="$ctrl.show()" data-ng-show="$ctrl.count > 0">{{ $ctrl.count }}</a>
</span>