<button type="button" class="coyo-checkbox btn btn-default" ng-class="{'checked': $ctrl.ngModel.$viewValue}" ng-click="$ctrl.toggleValue()">
    <i class="zmdi zmdi-hc-fw" ng-class="{'zmdi-check': $ctrl.ngModel.$viewValue}"></i>
</button>