// Mixins - Set the box shadow
// --------------------------------------------------

// example usage:
// @include box-shadow-none()
@mixin box-shadow-none() {

  // scss-lint:disable VendorPrefix
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  // scss-lint:enable VendorPrefix

}

// example usage:
// @include box-shadow(top, left, blur, #c1, true)
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {

  // scss-lint:disable VendorPrefix
  @if $inset {
    -moz-box-shadow: inset $top $left $blur $color;
    -webkit-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -moz-box-shadow: $top $left $blur $color;
    -webkit-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
  // scss-lint:enable VendorPrefix

}
