// Mixins - Set @media retina
// --------------------------------------------------

// example usage:
// @include media-retina() {
//  background-image: url($image-coyo-hd);
// }
@mixin media-retina() {

  // scss-lint:disable VendorPrefix
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content
  }
  // scss-lint:enable VendorPrefix

}
