// Mixins - Set the border radius
// --------------------------------------------------

// example usage:
// @include border-radius(4px)
@mixin border-radius($radius) {
  // scss-lint:disable VendorPrefix
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  // scss-lint:enable VendorPrefix
  border-radius: $radius;
}
