.messaging-presence-status {

  ul.presence-status-state {
    margin: 12px 0 0;
    overflow: hidden;

    li a {
      background-color: $msm-black;
      color: $msm-gray;
      margin-top: 1px;
      line-height: 30px;
    }

    li a:hover, li.active a {
      background-color: lighten($msm-black, 3%);
      border-color: $msm-gray !important;
      color: $msm-gray-light;
    }

    .zmdi.zmdi-circle {
      line-height: 30px;
      @include presence-status-color();
    }
  }

  textarea.presence-status-label {
    background: $msm-black;
    border: 0;
    border-radius: 0;
    color: $msm-gray-light;
    margin: 12px 0 0;
    resize: none;

    &:focus {
      border: 0;
      box-shadow: none !important;
    }
  }

  .btn-group {
    width: 100%;

    button {
      width: 50%;
      background-color: $msm-black;
      color: $msm-gray;
      border-color: $color-messaging-sidebar-bg;
      border-right: 0 none;
      border-radius: 0;

      &:hover {
        background-color: lighten($msm-black, 3%);
        color: $msm-gray-light;
      }
    }
  }
}
