<div class="user-chooser-item" ng-class="{'existing' : selectionType === 'EXISTING', 'new' : selectionType === 'NEW', 'removed' : selectionType === 'REMOVED'}">
  <coyo-user-avatar ng-if="::(itemType === 'user')" user="item" no-link="true"></coyo-user-avatar>
  <div class="user-avatar group-avatar" ng-if="::(itemType === 'group')">
    <span class="user-avatar-empty"><i class="zmdi zmdi-accounts"></i></span>
  </div>
  <div class="item-info">
    <div class="item-headline">{{:: item.displayName }}</div>
    <div class="item-subline" ng-if="::(itemType === 'user')">{{:: item.properties.jobTitle }}</div>
    <div class="item-subline" ng-if="::(itemType === 'user')">{{:: item.properties.department }}</div>
    <div class="item-subline" ng-if="::(itemType === 'group')" translate="USER_CHOOSER.GROUPS.USER_COUNT" translate-values="{count: item.userCount}"></div>
  </div>
</div>
