.state-main-search {

  .panel .panel-title .search-term-preview {
    text-transform: none;
  }

  .search-result {
    border-bottom: 1px solid $msm-gray-lighter;
    padding: 24px 0;

    &:first-child {
      padding-top: 12px;
    }

    &:last-child {
      padding-bottom: 12px;
      border: 0;
    }

    &:hover:not(.no-link) {
      cursor: pointer;

      .search-result-name {
        transition: color linear 0.1s;
        color: $color-link;
      }
    }
  }

  .search-result-body {
    padding-left: 4px;
    margin-bottom: -3px;
    display: flex;

    .search-result-icon {
      flex: none;
      margin-right: 24px;

      color: $msm-gray;
      font-size: 24px;
      text-align: left;

      align-self: center;
    }

    .search-result-middle {
      flex: 1;
      min-width: 0;
    }

    .search-result-right {
      width: 100px;
      text-align: right;
    }

    .search-result-sender {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .search-result-excerpt, .search-result-modified {
      font-size: 14px;
      color: $msm-gray;
    }

    .search-result-excerpt em {
      background-color: $color-text-highlight-bg;
      border-radius: 2px;
      font-style: normal;
    }

    @media screen and (min-width: $screen-sm-min) {
      .search-result-right {
        width: 150px;
      }

      .search-result-modified {
        width: 150px;
        flex: none;

        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
