<form name="form" role="form" msm-form-submit="$close(vm.message)" novalidate>
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="MODULE.REPORT.MODAL.TITLE"></h3>
      <span class="modal-close" ng-click="$dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
    </div>
    <div class="modal-body">
      <p translate="MODULE.REPORT.MODAL.TEXT"></p>
      <textarea ng-model="vm.message" required="true" class="form-control resize-v resize-max"
                ng-attr-placeholder="{{::'MODULE.REPORT.MODAL.PLACEHOLDER' | translate}}"
                msd-elastic rows="3"></textarea>
    </div>
    <div class="modal-footer">
      <msm-form-submit-button label="MODULE.REPORT.MODAL.SUBMIT" form-ctrl="form"></msm-form-submit-button>
    </div>
  </div>
</form>