.btn-likes {
  display: inline-block;

  &.btn-likes-condensed {
    white-space: nowrap;
  }

  .btn-likes-handle {
    color: $msm-gray;
    transition: color linear 0.2s;
    position: relative;

    .zmdi {
      position: relative;
      top: .075em;
      font-size: 128.571428571%;
    }

    &:hover {
      color: $msm-gray-darker;
    }
  }

  .btn-likes-divider {
    margin: 0 .4em;
  }

  .btn-likes-text {
    color: $msm-gray;
  }

  .btn-likes-count {
    margin-left: .3em;

    a {
      color: $msm-gray-darker;
    }
  }

  &.active {
    .btn-likes-handle {
      color: $msm-yellow;
    }
  }
}

.btn-likes-modal {

  .like {
    border-bottom: 1px solid $msm-gray-lighter;
    margin-bottom: 8px;
    padding-bottom: 8px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
