<section class="workspaces-list content-with-sidebar">
    <div class="content-sidebar">

      <!-- Widget Slot -->
      <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                   name="workspaces-list-top"
                   hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

      <div ui-tree="::$ctrl.treeOptions" empty-placeholder-enabled="false" max-depth="1" ng-class="{'category-manager': $ctrl.canManageWorkspaceCategories}">
        <div ui-tree-nodes ng-model="$ctrl.categories">
          <coyo-filterbox vertical="true" class="panel-navigation">
            <fb-actions>
              <li>
                <a ui-sref="main.workspace.create" class="tour-placeholder-container" coyo-global-permissions="CREATE_WORKSPACE">
                  <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'MODULE.WORKSPACES.CREATE.TITLE' | translate}}
                  <coyo-tour-step topic="workspaces" order="110" placement="bottom" step-id="workspaces.create"
                                  title="{{:: 'TOUR.WORKSPACES.CREATE.TITLE' | translate }}"
                                  content="{{:: 'TOUR.WORKSPACES.CREATE' | translate }}"></coyo-tour-step>
                </a>
              </li>
            </fb-actions>
            <fb-filter max-depth="1">
              <coyo-filter class="filter-categories" title-key="MODULE.WORKSPACES.FILTER.CATEGORY">
                <coyo-filter-entry text-key="MODULE.WORKSPACES.FILTER.ALL"
                                   icon="zmdi-check-all"
                                   active="$ctrl.isCategoryActive()"
                                   on-click="$ctrl.toggleCategory()"
                                   badge="$ctrl.getTotalCount()">
                </coyo-filter-entry>
                <coyo-filter-entry ng-repeat="category in $ctrl.categories"
                                   ui-tree-node
                                   class="filter-entry-options {{$ctrl.editingCategory && $ctrl.editingCategory.id === category.id ? 'filter-entry-editing' : ''}}"
                                   text="{{category.name}}"
                                   icon="zmdi-layers"
                                   active="$ctrl.isCategoryActive(category)"
                                   on-click="$ctrl.toggleCategory(category)"
                                   badge="category.count">
                  <div ng-if="$ctrl.canManageWorkspaceCategories">
                    <input type="text" ng-model="category.name" translate translate-attr-placeholder="WORKSPACE.CATEGORY.NAME"
                           ng-keypress="$ctrl.onCategoryKeypress(category, $event)"
                           ng-blur="$ctrl.onCategoryBlur(category, $event)">
                    <span class="btn btn-zmdi btn-link btn-save" ng-click="$ctrl.saveCategory(category, $event)"><i class="zmdi zmdi-check"></i></span>
                    <span class="btn btn-zmdi btn-link btn-move" ui-tree-handle><i class="zmdi zmdi-swap-vertical"></i></span>
                    <span class="btn btn-zmdi btn-link btn-edit" ng-click="$ctrl.editCategory(category, $event)"><i class="zmdi zmdi-edit"></i></span>
                    <span class="btn btn-zmdi btn-link btn-delete" ng-click="$ctrl.deleteCategory(category, $event)"><i class="zmdi zmdi-delete"></i></span>
                  </div>
                </coyo-filter-entry>
                <coyo-filter-entry text="N/A"
                                   icon="zmdi-layers"
                                   active="$ctrl.isCategoryActive({id: 'N/A'})"
                                   on-click="$ctrl.toggleCategory({id: 'N/A'})"
                                   badge="$ctrl.missingCount"
                                   ng-show="$ctrl.missingCount">
                </coyo-filter-entry>
              </coyo-filter>
              <a class="fb-filter-action" ng-click="$ctrl.addCategory($event)" class="btn btn-link" ng-if="$ctrl.canManageWorkspaceCategories">
                <i class="zmdi zmdi-plus-circle-o"></i>{{:: 'WORKSPACE.CATEGORY.ADD' | translate}}
              </a>
            </fb-filter>
            <fb-search>
              <coyo-search-filter change="$ctrl.search" placeholder="MODULE.WORKSPACES.FILTER.SEARCH" search-term="{{$ctrl.query.term}}"></coyo-search-filter>
            </fb-search>
          </coyo-filterbox>
        </div>
      </div>

      <coyo-tour-step-mobile topic="workspaces" order="105"
                             image-url="assets/images/tour/tour-mobile-workspaces-list.jpg"
                             title="{{:: 'TOUR.WORKSPACES.LIST.TITLE' | translate }}"
                             content="{{:: 'TOUR.WORKSPACES.LIST' | translate }}"></coyo-tour-step-mobile>

      <coyo-tour-step-mobile topic="workspaces" order="110"
                             image-url="assets/images/tour/tour-mobile-workspaces-create.jpg"
                             title="{{:: 'TOUR.WORKSPACES.CREATE.TITLE' | translate }}"
                             content="{{:: 'TOUR.WORKSPACES.CREATE' | translate }}"></coyo-tour-step-mobile>

      <coyo-tour-step-mobile topic="workspaces" order="115"
                             image-url="assets/images/tour/tour-workspaces-join.jpg"
                             title="{{:: 'TOUR.WORKSPACES.JOIN.TITLE' | translate }}"
                             content="{{:: 'TOUR.WORKSPACES.JOIN' | translate }}"></coyo-tour-step-mobile>

      <coyo-tour-step-mobile topic="workspaces" order="120"
                             image-url="assets/images/tour/tour-workspaces-request.jpg"
                             title="{{:: 'TOUR.WORKSPACES.REQUEST.TITLE' | translate }}"
                             content="{{:: 'TOUR.WORKSPACES.REQUEST' | translate }}"></coyo-tour-step-mobile>

      <coyo-tour-step-mobile topic="workspaces" order="125"
                             image-url="assets/images/tour/tour-workspaces-invited.jpg"
                             title="{{:: 'TOUR.WORKSPACES.INVITED.TITLE' | translate }}"
                             content="{{:: 'TOUR.WORKSPACES.INVITED' | translate }}"></coyo-tour-step-mobile>

      <!-- Widget Slot -->
      <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                   name="workspaces-list-bottom"
                   hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>
    </div>

  <div class="content-main">

      <!-- Widget Slot -->
      <coyo-widget-slot class="widget-slot-content"
                   name="workspaces-list-content"
                   hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

      <coyo-tour-step topic="workspaces" order="105" placement="bottom" no-highlight="true" popup-class="mt-l"
                      title="{{:: 'TOUR.WORKSPACES.LIST.TITLE' | translate }}"  step-id="workspaces.list"
                      content="{{:: 'TOUR.WORKSPACES.LIST' | translate }}"></coyo-tour-step>

      <div class="row">
        <div class="col-xl-6" ng-repeat="workspace in $ctrl.currentPage.content">
          <div class="panel panel-default panel-xs workspace-card">
            <div class="panel-body">
              <coyo-workspace-avatar workspace="::workspace" no-link="::workspace.visibility !== 'PUBLIC' && workspace.membershipStatus !== 'APPROVED'"></coyo-workspace-avatar>
              <h4 ng-if="::workspace.visibility === 'PUBLIC' || workspace.membershipStatus === 'APPROVED'"
                  class="pointer"
                  ui-sref="main.workspace.show({idOrSlug: workspace.slug})"
                  ui-sref-opts="{reload: 'main.workspace.show', inherit: false}">{{:: workspace.displayName }}</h4>
              <h4 ng-if="::workspace.visibility !== 'PUBLIC' && workspace.membershipStatus !== 'APPROVED'">{{:: workspace.displayName }}</h4>
              <span class="workspace-card-labels">
                <coyo-workspace-visibility workspace="::workspace" class="label label-muted"></coyo-workspace-visibility>
                <span class="label label-muted" ng-repeat="category in ::workspace.categories">{{:: category.name }}</span>
                <a class="label label-muted"><i class="zmdi zmdi-accounts"></i> {{:: workspace.memberCount}}</a>
              </span>
              <oyoc-workspace-actions workspace="::workspace" ng-if="$ctrl.showWorkspaceActions(workspace)"></oyoc-workspace-actions>
            </div>
          </div>
        </div>
      </div>

      <!-- empty text -->
      <div class="text-center text-muted ph-l pv-s"
           ng-show="!$ctrl.loading && !$ctrl.currentPage.totalElements" translate="MODULE.WORKSPACES.EMPTY">
      </div>

      <div class="col-xs-12" ng-if="$ctrl.currentPage">
        <coyo-table-pagination page="$ctrl.currentPage"></coyo-table-pagination>
      </div>
    </div>
  </div>
</section>
