<div ng-show="$ctrl.user && $ctrl.user.superadminMode" class="superadmin-bar" ng-class="{compact: $ctrl.compact}">
  <coyo-help class="pull-left" tip="USER.SUPERADMIN.BAR.HELP" placement="top-left"></coyo-help>
  <span class="ml-xxs" translate="USER.SUPERADMIN.BAR.DESCRIPTION"></span>
  <a class="btn btn-link" ng-click="$ctrl.deactivate()">
    <i class="zmdi zmdi-close"></i>&nbsp;{{::'USER.SUPERADMIN.BAR.DISABLE' | translate}}
  </a>
</div>