/* This class is defined outside of .wiki-app because of the drag'n'drop feature of wiki articles. */
.wiki-article {
  margin-top: 0;

  &.article-view {
    .panel-article {
      margin-bottom: 0;
    }
  }

  .clickable {
    cursor: pointer;
    color: $color-link;
  }

  .article-title {;
    margin-right: 5px;
  }

  .article-badge {
    line-height: 0.8;
    padding: 3px 5px;
  }

  .article-header-top {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 6px;
      padding-bottom: 6px;
    }

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 7px;
      padding-bottom: 7px;
    }

    .left-options {
      cursor: default;
      min-width: 18px;
    }

    .panel-title-main {
      width: 100%;
      text-overflow: inherit;
      white-space: inherit;
      margin-right: 20px;
    }

    .editable {
      border: 2px dashed $msm-white;
      width: 100%;
      padding: 0 10px;

      &:not(:focus) {
        border-color: $msm-gray-light;
      }

      &.error {
        background-color: lighten($msm-red, 55%);
        border-color: lighten($msm-red, 55%);

        &:not(:focus) {
          border-color: $msm-red;
        }
      }
    }
  }

  .article-header-bottom {
    align-items: flex-start;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    .zmdi {
      margin-top: 4px;
    }

    .author, .time {
      margin-right: 10px;

      @media screen and (min-width: $screen-sm-min) {
        margin-right: 15px;
      }
    }
  }

  .article-status-options {
    color: $msm-gray;
    margin-left: auto;

    :hover {
      color: $msm-black;
    }
  }

  form  {
    fieldset {
      display: block;

      // Firefox targeting hack
      @-moz-document url-prefix() {
        // hack for fieldset overflow in firefox
        // Attention: display: table-column hides the fieldset in IE
        display: table-column;
      }
    }
  }
}

.wiki-article-delete-alert {
  margin-top: 20px;
}

.wiki-article-history-revision {
  display: flex;
  padding: 8px;
  &:not(:last-child) {
    border-bottom: 1px solid $msm-gray-light;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }

  a i.zmdi {
    color: $msm-black;

    &.zmdi-star {
      color: $msm-yellow;
    }
  }

  .wiki-article-history-time {
    flex: 1;
  }
  .wiki-article-history-author {
    flex: 1;
  }
}

/* This is defined outside of wiki-app to hide when dragging. */
.angular-ui-tree-drag .article-status-options {
  display: none;
}

.wiki-app {
  .article-locked {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      margin-left: 5px;
    }

    &.alert {
      margin-bottom: 12px;
    }
  }

  .angular-ui-tree-handle {
    font-weight: normal;
  }

  .angular-ui-tree-placeholder {
    background-color: $msm-gray-lighter;
    border: 1px dashed $msm-gray;
    /* Fix bug that placeholder height is broken when context menü is open on d&d */
    height: auto !important;
  }

  .ui-tree-is-parent {
    >.wiki-article {
      >.article-header-top {
        border-bottom: 1px dashed $msm-gray !important;
      }
    }
  }

  .wiki-article-parent-edit-mode {
    margin-bottom: 50px;
  }

  .fl-header {
    background-color: $breadcrumb-bg;
    display: flex;
    padding: 8px 22px;
    align-items: center;

    .wdv-col {
      &.wdv-col-breadcrump,
      &.wdv-col-action {
          flex: 0 0 auto;
      }

      &:last-of-type {
        padding-right: 0;
      }

      &.wdv-col-action {
        .btn {
          margin-right: 0 !important;
          margin-left: 24px;
          padding: 0;

          i {
            margin-right: 0;
          }

          &:last-of-type {
            padding-right: 0;
          }

          span {
            display: none;
          }

          @media screen and (min-width: $screen-sm-min) {
            margin-right: 15px;

            span {
              display: inline;
            }
          }
        }
      }

      &.wdv-col-placeholder {
        flex: 1;
        overflow: hidden;
      }
    }
  }

  .breadcrumb {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    padding: 0;
    background: transparent;
  }

  .wiki-article-text {
    margin-bottom: 14px;
    margin-top: 9px;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 0;
      margin-top: 24px;
    }
  }

  /* This is defined inside of wiki-app to not have the bottom-border when dragging. */
  .wiki-article-li {
    .wiki-article {
      .article-header-top {
        border-bottom: 1px solid $msm-gray-lighter;
      }

      .article-header-top-main {
        border-bottom: none;
      }

      .panel-body {
        .row {
          margin-bottom: 10px;
        }
      }

      .article-status-options {
        display: block;
      }

      @media screen and (min-width: $screen-md-min) {
        .article-status-options {
          display: none;
        }

        &:hover {
          .article-status-options {
            display: block;
          }
        }
      }
    }

    .angular-ui-tree-nodes {
      padding-left: 25px;
    }
  }

  .wiki-article-node {
    .panel {
      margin-bottom: 5px;
    }

    .panel-heading-list {
      margin: 0 18px;
      padding: 8px 0 1px;
    }
  }

  .panel-title {
    text-overflow: inherit;
    white-space: inherit;
    
    .zmdi {
      margin: 0;
    }
  }
}
