.card-actions {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid $msm-gray-light;

  .btn.btn-inverse {
    align-items: center;
    border-radius: 0;
    border: 0;
    border-top: 1px solid $msm-gray-light;
    display: flex;
    flex: 1;
    padding: 0 8px;

    &:first-child {
      border-top: 0;
    }

    @media screen and (min-width: $screen-md-min) {
      border-radius: 0 5px 5px 0;
    }
  }
}

.card-actions-multiple .btn {

  @media screen and (min-width: $screen-md-min) {
    &:first-child {
      border-radius: 0 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 0;
    }
  }
}