// Variables
$width-sidebar: 470px;

.modal-file-details {
  .modal-dialog {
    height: 100%;

    @media screen and (max-width: $screen-sm) {
      position: relative;
    }

    @media screen and (min-width: $screen-sm-min) {
      bottom: 0;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    .modal-content {
      @media screen and (min-width: $screen-sm-min) {
        background: transparent;
        border-radius: 0;
        box-shadow: 0;
        height: 100%;
      }

      .modal-content-wrapper {
        @media screen and (max-width: $screen-sm) {
          position: relative;
          overflow: auto;
        }

        @media screen and (min-width: $screen-sm-min) {
          background-color: $msm-white;
          bottom: 0;
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
          position: absolute;
          overflow-y: auto;
          right: 0;
          top: 0;
          width: $width-sidebar;
        }

        .modal-header {
          min-height: 53px;
          border: none;
          position: fixed;
          left: 0;
          right: 0;
          z-index: 1000;

          .modal-info {
            margin-top: 18px;
          }

          @media screen and (min-width: $screen-sm-min) {
            min-height: 70px;
            position: relative;

            .modal-info {
              display: none;
            }
          }

          .modal-title {
            font-size: 20px;
            height: 43px;

            small.text-muted {
              display: block;
              font-weight: bold;
              text-transform: uppercase;
            }
          }

          .zmdi-close {
            cursor: pointer;
          }
        }

        .modal-file-preview {
          text-align: center;
          padding-top: 70px;

          .preview-image {
            height: 100px;
            margin: 0 auto;
            width: 100px;
          }

          @media screen and (min-width: $screen-sm-min) {
            bottom: 0;
            left: 0;
            overflow-y: auto;
            position: fixed;
            right: $width-sidebar;
            top: 0;
            padding-top: 0;
          }

          .fd-preview {
            padding: 16px;

            @media screen and (min-width: $screen-sm-min) {
              padding: 60px 0;
            }

            .pi-container {
              background: url('../assets/images/bg_grid.jpg') repeat;
              border: 1px solid $msm-gray-light;
              display: inline-block;
              max-width: 80%;
              min-width: 50%;

              &.loading,
              &.unavailable,
              &.processing {
                border: 0 none;
                background: none;
              }

              .no-preview-available {
                margin-top: 10px;
              }

              &.unavailable,
              &.processing {
                @media screen and (min-width: $screen-sm-min) {
                  background-color: $msm-white;
                  padding: 50px 25px;
                  width: 80%;
                }

                .alert {
                  margin: 25px 0 0;
                }
              }

              @media screen and (min-width: $screen-sm-min) {
                background-image: none;
                border: 0 none;
              }

              .pi-spinner-container {
                @media screen and (min-width: $screen-sm-min) {
                  background-color: $msm-white;
                  border-radius: 10px;
                  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
                  height: 76px;
                  left: 50%;
                  margin: -38px 0 0 -38px;
                  padding: 10px;
                  position: absolute;
                  top: 50%;
                  width: 76px;
                }
              }
            }

            img {
              max-width: 100%;
            }

            coyo-file-preview {
              display: block;
              cursor: pointer;

              @media screen and (min-width: $screen-sm-min) {
                &.pdf-available {
                  display: none;
                }
              }
            }

            .pdf-js-view {
              #toolbarViewer {
                right: $width-sidebar;
              }
            }
          }
        }

        .modal-body {
          padding-top: 24px;
          overflow: initial;

          @media screen and (min-width: $screen-sm-min) {
            overflow-y: auto;
          }

          .file-details-action-bar {
            background-color: $msm-gray-lighter;
            text-align: right;
            border-top: 1px solid $msm-gray-light;
            border-bottom: 1px solid $msm-gray-light;
            margin-bottom: 15px;

            .btn {
              padding: 8px 9px;
            }

            .zmdi-cloud-upload {
              color: $msm-gray-darker;
              font-size: 20px;
              padding-top: 2px;
            }
          }

          .fd-file-actions {
            border-bottom: 1px solid $msm-gray-light;
            border-top: 1px solid $msm-gray-light;
            margin-bottom: 16px;
            text-align: right;

            @media screen and (min-width: $screen-sm-min) {
              border-top: 0;
            }

            .btn-zmdi {
              padding-left: 8px;
              padding-right: 8px;
              //float: left;
            }

            .zmdi {
              font-size: 140%;
              vertical-align: middle;
            }
          }

          .fd-file-options {
            border-top: 1px solid $msm-gray-light;
            border-bottom: 1px solid $msm-gray-light;
            margin-top: 4px;
            padding: 8px 10px;
            width: 100%;

            .context-menu {
              float: right;
            }
          }

          .comments {
            margin: 0;

            .comments-list.panel-body {
              border-top: 0;
            }
          }

          .file-versions {
            width: 100%;

            td {
              vertical-align: top;
              padding: 12px 12px 12px 0;

              &:first-child {
                padding-left: 12px;
                vertical-align: middle;
              }

              &:last-child,
              &:first-child {
                width: 1px;
              }
            }

            tr {
              border: 1px solid $msm-gray-light;
              border-right-style: none;
              border-left-style: none;
            }

            tr.active {
              background-color: $msm-gray-lighter;
              .version-number {
                background-color: $msm-green;
                cursor: default;
              }
            }

            .version-number {
              $version-circle-size: 40px;
              background-color: $msm-gray-light;
              width: $version-circle-size;
              height: $version-circle-size;
              line-height: $version-circle-size;
              border-radius: 50%;
              text-align: center;
              cursor: pointer;
              color: $msm-white;
            }
          }
        }
      }
    }
  }
}

&.fade .modal-dialog {
  @media screen and (min-width: $screen-sm-min) {
    // disable fade in from top
    transform: translate(0, 0);
    transition: none;
  }
}
