<form name="settingsForm" msm-form-submit="vm.save()">
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="APPS.SETTINGS.TITLE"></h3>
      <span class="modal-close" ng-click="$dismiss()">
        <i class="zmdi zmdi-close img-close"></i>
      </span>
    </div>
    <div class="modal-body p-s">
      <oyoc-app-settings app="vm.app" form-ctrl="settingsForm" save-callbacks="vm.saveCallbacks"></oyoc-app-settings>
    </div>
    <div class="modal-footer">
      <msm-form-submit-button label="SAVE" form-ctrl="settingsForm"></msm-form-submit-button><!--
   --><coyo-confirm-button class="btn btn-condensed btn-danger"
                           cb-on-click="vm.remove()"
                           cb-icon-class="zmdi zmdi-hc-fw zmdi-delete"
                           cb-str="APPS.SETTINGS.REMOVE.REMOVE"
                           cb-str-on-click="APPS.SETTINGS.REMOVE.CONFIRM"></coyo-confirm-button>
    </div>
  </div>
</form>