.wiki-widget {

  .wiki-widget-article {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .wiki-widget-icon {
      color: $msm-gray-darker;
      margin-left: 3px;
      margin-right: 11px;
    }
  }
}

.wiki-widget-settings {
  .alert.alert-warning {
    margin: 3px 0;
  }
}
