<div class="admin-jobs" ng-cloak>

    <div class="text-center mv-m" ng-show="$ctrl.loading">
        <msm-spinner></msm-spinner>
    </div>

    <div ng-if="!$ctrl.loading">
        <coyo-filterbox>
            <fb-count>
                <coyo-counter value="$ctrl.jobs.length"
                              key-none="ADMIN.JOBS.JOBS_NONE"
                              key-singular="ADMIN.JOBS.JOBS_SINGULAR"
                              key-plural="ADMIN.JOBS.JOBS_PLURAL"></coyo-counter>
            </fb-count>
        </coyo-filterbox>

        <div class="panel panel-default panel-groups panel-list">
            <div class="panel-body">

                <!-- mobile view -->
                <ul ng-if="$ctrl.isMobile" class="list-group">
                    <li ng-if="$ctrl.page.content.length"
                        class="text-center text-muted pv-s"
                        translate="ADMIN.JOBS.EMPTY"></li>
                    <li ng-repeat="row in $ctrl.jobs track by row.name"
                        ng-class="{'animate-removal': $ctrl.userAction }"
                        id="group-row-{{$index}}"
                        class="list-group-item">
                        <div class="row">
                            <div class="col-xs-8">
                                <div>{{:: row.displayName }}</div>
                            </div>
                            <div class="col-xs-4">
                                <coyo-job-status job-status="row.jobStatus"
                                                 link-to-jobs="true"
                                                 compact="true"
                                                 label-unknown-progress="{{:: 'ADMIN.JOBS.JOB.RUNNING' | translate }}">
                                </coyo-job-status>
                            </div>
                        </div>
                    </li>
                </ul>
                <coyo-context-menu ng-repeat="row in $ctrl.jobs track by row.name"
                                   ng-if="$ctrl.isMobile"
                                   toggle-element="#group-row-{{$index}}"
                                   title="{{row.displayName}}">
                    <oyoc-job-options actions="$ctrl.actions" job="row"></oyoc-job-options>
                </coyo-context-menu>

                <!-- desktop view -->
                <table ng-if="!$ctrl.isMobile" class="table table-striped table-hover m-0">
                    <colgroup>
                        <col>
                        <col width="30%">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th translate="ADMIN.JOBS.HEADINGS.NAME"></th>
                        <th translate="ADMIN.JOBS.HEADINGS.STATUS"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="$ctrl.jobs.length">
                        <td colspan="4" class="text-center text-muted" translate="ADMIN.JOBS.EMPTY"></td>
                    </tr>
                    <tr ng-repeat="row in $ctrl.jobs track by row.name">
                        <td>{{:: row.displayName }}</td>
                        <td>
                            <coyo-job-status job-status="row.jobStatus"
                                             job-name="row.name"
                                             compact="true"
                                             link-to-jobs="true"
                                             label-unknown-progress="{{:: 'ADMIN.JOBS.JOB.RUNNING' | translate }}">
                            </coyo-job-status>
                        </td>
                        <td class="column-options">
                            <coyo-context-menu align-right="true">
                                <oyoc-job-options actions="$ctrl.actions" job="row"></oyoc-job-options>
                            </coyo-context-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>