<form name="form" msm-form-submit="$ctrl.save()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="ADMIN.THEME.TITLE"></h3>
    </div>
    <uib-tabset justified="true" type="tabs">
      <uib-tab select="$ctrl.activeTab = 'colors'">
        <uib-tab-heading translate="ADMIN.THEME.COLORS.TITLE"></uib-tab-heading>
      </uib-tab>
      <uib-tab select="$ctrl.activeTab = 'logos'">
        <uib-tab-heading translate="ADMIN.THEME.LOGOS.TITLE"></uib-tab-heading>
      </uib-tab>
      <uib-tab select="$ctrl.activeTab = 'advanced'">
        <uib-tab-heading translate="ADMIN.THEME.ADVANCED.TITLE"></uib-tab-heading>
      </uib-tab>
    </uib-tabset>
    <div class="panel-body">
      <div class="alert alert-danger" ng-if="$ctrl.errorMessage">{{::'ADMIN.THEME.ERROR' | translate}} {{$ctrl.errorMessage}}</div>
      <div class="form-horizontal pt-m" ng-show="$ctrl.activeTab === 'colors'">
        <div class="row">
          <div class="col-xs-12 col-sm-6 row mb-xs"
               ng-repeat="variable in $ctrl.predefinedVariableConfig"
               ng-class="{'has-error': form['variable_' + variable.key].$invalid}">

            <label class="col-sm-6 control-label">{{::variable.displayName | translate}}</label>
            <div class="col-sm-6 input-group">
              <label for="variable_{{variable.key}}" class="input-group-addon pointer"
                    ng-style="{'background-color': variable.value || variable.defaultValue}">
              </label>
              <input colorpicker
                     colorpicker-size="200"
                     id="variable_{{variable.key}}"
                     name="variable_{{variable.key}}"
                     type="text"
                     class="form-control"
                     placeholder="{{variable.defaultValue}}"
                     ng-pattern="'^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$'"
                     ng-model="variable.value">
              <span class="input-group-addon">
                <i class="zmdi zmdi-close-circle pointer"
                   ng-click="variable.value = undefined"
                   ng-if="variable.value"
                   uib-tooltip="{{::'ADMIN.THEME.COLORS.RESTORE_DEFAULT' | translate}}"
                   tooltip-popup-delay="500"
                   tooltip-placement="right"
                   tooltip-append-to-body="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-horizontal pt-m" ng-show="$ctrl.activeTab === 'logos'">
        <div class="form-group mb-xs row"
             ng-repeat="image in $ctrl.imageConfig">
          <label class="col-sm-3 control-label" translate="{{::image.displayName}}"></label>
          <div class="col-sm-8">
            <span class="pointer"
                  ngf-select
                 ngf-change="$ctrl.uploadImage(image.key)"
                 ng-model="image.data.fileToUpload"
                 ngf-accept="image.acceptTypes"
                 uib-tooltip="{{::'ADMIN.THEME.LOGOS.SELECT' | translate}}"
                 tooltip-popup-delay="500"
                 tooltip-placement="right"
                 tooltip-append-to-body="true">
                <img class="preview" ngf-src="image.data.file" ng-style="{
                  'max-height': image.height ? image.height : 'inherit',
                  'max-width': image.width ? image.width : 'inherit'
                  }">
                <img class="preview" ng-if="!image.data.file"
                     ng-src="{{image.data.url || image.defaultUrl}}"
                     ng-style="{
                      'max-height': image.height ? image.height : 'inherit',
                      'max-width': image.width ? image.width : 'inherit'
                     }">
            </span>
            <span ng-if="image.data.file ||image.data.url"
                  class="m-xxs pointer"
                  uib-tooltip="{{::'ADMIN.THEME.LOGOS.REMOVE' | translate}}"
                  tooltip-popup-delay="500"
                  tooltip-placement="right"
                  tooltip-append-to-body="true"
                  ng-click="$ctrl.removeImage(image.key)"><i class="zmdi zmdi-close-circle"></i></span>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="{{image.help}}"></coyo-help>
          </div>
        </div>
      </div>

      <div class="form-horizontal" ng-show="$ctrl.activeTab === 'advanced'">
        <label for="customScss" class="control-label" translate="ADMIN.THEME.ADVANCED.SCSS"></label>
        <coyo-help class="pull-right hidden-xs" tip="ADMIN.THEME.ADVANCED.SCSS.HELP"></coyo-help>
        <div class="mb-s">
          <textarea id="customScss"
                    class="form-control"
                    ng-model="$ctrl.customScss"
                    rows="10"
                    ng-attr-placeholder="{{::'ADMIN.THEME.ADVANCED.SCSS.PLACEHOLDER' | translate}}"></textarea>
        </div>
        <label class="control-label" translate="ADMIN.THEME.ADVANCED.ADDITIONAL.TITLE"></label>
        <coyo-help class="hidden-xs pull-right" tip="ADMIN.THEME.ADVANCED.ADDITIONAL.HELP"></coyo-help>
        <table class="table table-default table-striped table-condensed">
          <tbody>
            <tr ng-repeat="variable in $ctrl.additionalVariables">
              <td ng-class="{'has-error': form['key_' + $index].$invalid && form['key_' + $index].$touched}">
                <input class="form-control"
                       type="text"
                       name="key_{{$index}}"
                       ng-model="variable.key"
                       required
                       placeholder="{{::'ADMIN.THEME.ADVANCED.ADDITIONAL.KEY_PLACEHOLDER' | translate}}">
              </td>
              <td ng-class="{'has-error': form['value_' + $index].$invalid && form['value_' + $index].$touched}">
                <input class="form-control"
                       type="text"
                       name="value_{{$index}}"
                       ng-model="variable.value"
                       required
                       placeholder="{{::'ADMIN.THEME.ADVANCED.ADDITIONAL.VALUE_PLACEHOLDER' | translate}}">
              </td>
              <td>
                <span ng-click="$ctrl.removeAdditionalVariable($index)">
                  <i class="zmdi zmdi-close-circle mt-xxs text-muted pointer"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button"
                class="btn btn-default"
                ng-disabled="$ctrl.additionalVariables.length > 0 && !$ctrl.additionalVariables[$ctrl.additionalVariables.length - 1].key"
                ng-click="$ctrl.additionalVariables.push({key: '', value: ''})">
          <i class="zmdi zmdi-hc-fw zmdi-plus"></i>&nbsp;{{::'ADMIN.THEME.ADVANCED.ADDITIONAL.ADD' | translate}}
        </button>
      </div>
    </div>
    <div class="panel-footer">
      <msm-form-submit-button form-ctrl="form" icon="zmdi-check" label="SAVE"></msm-form-submit-button>
    </div>
  </div>
</form>
