.state-admin-theme {
  .panel-heading {
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 0;
    margin-right: 0;
  }
  .input-group-addon {
    width: 40px;
  }
  .preview {
    background-color: #e8e8e8;
  }
  .input-group {
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}
