.sidebar {
  opacity: 1;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: $zindex-sidebar;
  background-color: $msm-white;
  width: $size-sidebar-main;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  // active state
  &.slide-in {
    left: 0;
  }

  .sidebar-headline {
    border-bottom: 1px solid $msm-gray-lighter;
    color: $msm-gray;
    height: 50px;
    line-height: 50px;
    padding: 0 24px;
    text-transform: uppercase;
  }

  .nav-sidebar-item {
    * {
      @include user-select(none);
    }

    a {
      display: block;
      border-left: 4px solid transparent;
      color: $msm-gray-darker;
      cursor: pointer;
      padding: 12px 30px;

      &.active {
        color: $color-link;
      }

      i {
        font-size: 20px;
      }
    }

    &.active a, &:hover a {
      color: $msm-black;
      background-color: $msm-gray-lighter;
      border-color: $color-link;
      margin: 0;
      text-decoration: none;
    }
  }

  // Displays icons only
  &.sidebar-collapsed {
    @include sidebar-collapsed();
  }
}