.ui-select-choices.sender-select {
  .ui-select-choices-row-inner {
    border: 0;
    display: flex;
  }

  .ui-select-choices-row > span {
    padding: 12px 14px;
  }

  .avatar-wrapper {
    min-width: 40px;
    min-height: 40px;
    margin: 2px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40px;
      height: 40px;
    }

    &.user img {
      border-radius: 100%;
    }

    &.page, &.workspace {
      img {
        border-radius: 5px;
      }
    }
  }
}