.sender-group {

  .sender-group-title {
    display: flex;

    .filter {
      outline: none;
      border: 0;
      border-bottom: 1px solid $msm-gray-light;
      padding: 0 0 2px;
      margin-right: 16px;
      height: 22px;
      flex: 1;
    }

    .header {
      cursor: pointer;
      flex: 1;
    }

    a {
      color: $msm-gray;

      &:hover, &:focus {
        color: $msm-gray-darker;
      }
    }
  }
}