<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="application-name" content="Coyo">
    <meta name="author" content="mindsmash GmbH">
    <meta name="description" lang="de" content="Coyo ist das Enterprise Social Network, mit dem du und deine Kollegen besser zusammenarbeiten!">
    <meta name="description" lang="en" content="Coyo is the enterprise social network that lets you and your colleagues work better together!">
    <meta name="keywords" lang="de" content="Intranet, Soziales Netzwerk, Kommunikation, Kollaboration, Content-Management">
    <meta name="keywords" lang="en" content="intranet, social network, communication, collaboration, content management">

    <link rel="shortcut icon" href="/favicon.ico">

    <base href="/">

    <title></title>

    <!-- build:css({.tmp/serve,src/main}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src/main}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body class="{{ 'state-' + ($state.current.name | replace : '\\.': '-') }}"
        ng-class="{'curtain' : $root.curtain.loading || $root.curtain.error,
                   'global-edit-mode' :  $root.globalEditMode,
                   'mobile-app' : $root.app.mobile,
                   'mobile-app-ios' : $root.app.ios,
                   'mobile-app-android' : $root.app.android,
                   'backdrop-visible' : $root.showBackdrop}">

    <noscript>
      <div class="browser-no-js">
        <h1>:(</h1>
        <p>
          You need to have JavaScript enabled in order to use Coyo. Please enable JavaScript in your browser and try again.
          For more information visit <a href="https://www.coyoapp.com/">https://www.coyoapp.com/</a> or contact the
          <a href="https://support.mindsmash.com">Support Center</a>.
        </p>
      </div>
    </noscript>

    <div oyoc-curtain></div>
    <div class="body" ui-view ng-cloak ng-if="$root.translationsReady"></div>
    <div ng-bind-html="$root.trackingCode"></div>

    <script src="config.js"></script>

    <!-- build:js(src/main) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src/main}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src/main}) scripts/index.js -->
    <!-- inject:index:js -->
    <!-- the index.js gets automatically injected here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
