// Util
// --------------------------------------------------
//
// TODO: Clean up and sort correctly

.information-loading {
  text-align: center;
}

dt {
  text-transform: uppercase;
}

dl dd:last-child {
  margin-bottom: 0;
}

.table-row {
  display: table-row;
  & > .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.big {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.scroll-x {
  overflow-x: scroll;
}

.zmdi-wide {
  padding-right: 4px;
}

.zmdi.active {
  color: $msm-blue;
}

.text-warning {
  color: #ffb859;
}

hr.lighter {
  border-color: $msm-gray-lighter;
}

.forbidden {
  cursor: not-allowed;
}

.break-all {
  word-break: break-all;
}

.resize-none {
  resize: none;
}

.resize-h {
  resize: vertical;
}
.resize-v {
  resize: vertical;
}

input::-ms-clear {
  display: none;
}

.no-user-select {
  @include user-select(none);
}