<div class="account-notification-settings">
  <div class="visible-md-block visible-lg-block">
    <section class="panel panel-default">
      <div class="panel-heading panel-heading-main">
        <h1 class="panel-title" translate="MODULE.ACCOUNT.NOTIFICATION_SETTINGS.HEADER"></h1>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tbody>
          <tr ng-repeat="setting in ctrl.settings">
            <td class="column-icon">
              <i class="zmdi zmdi-{{ctrl.channelMetadata[setting.channel].icon}} zmdi-wide"></i>
            </td>
            <td>
              {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.CHANNEL.' + setting.channel + '.NAME' | translate }}
              <div class="text-muted">
                {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.CHANNEL.' + setting.channel + '.DESCRIPTION' | translate }}
              </div>

              <oyoc-notifications-source-select ng-if="::ctrl.channelMetadata[setting.channel].browserNotificationsConfigurable"
                                               class="form-group form-group-sm mt-xs"
                                               setting="setting"
                                               on-selection-change="ctrl.save(setting)"></oyoc-notifications-source-select>

              <div class="alert alert-warning"
                   ng-if="setting.active && setting.channel === 'BROWSER' && !ctrl.browserNotificationsActive">
                {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.FORM.BROWSER.NOTIFICATIONS.PERMISSIONS.WARNING' | translate }}
              </div>

              <oyoc-notifications-interval-select class="form-group form-group-sm mt-xs"
                                                  ng-if="::ctrl.channelMetadata[setting.channel].intervalConfigurable"
                                                  setting="setting"
                                                  on-selection-change="ctrl.save(setting)"></oyoc-notifications-interval-select>
            </td>
            <td class="column-active-label">
              <coyo-active-label ng-model="setting.active" ng-click="ctrl.toggle(setting)"></coyo-active-label>
            </td>
          </tr>
          </tbody>
        </table>
        <span class="text-muted" ng-if="!ctrl.settings.length" translate="MODULE.ACCOUNT.NOTIFICATION_SETTINGS.NO_NOTIFICATIONS"></span>
      </div>
    </section>
  </div>
  <div class="hidden-md hidden-lg">
    <msm-mobile-menu-item
        ng-repeat="setting in ctrl.settings"
        on-click="ctrl.open(setting)"
        label-text="{{'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.CHANNEL.' + setting.channel + '.NAME'}}"
        preview-value="{{'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.STATUS.' + (setting.active ? 'ACTIVE' : 'INACTIVE') | translate}}"
        icon="'zmdi zmdi-' + ctrl.channelMetadata[setting.channel].icon"></msm-mobile-menu-item>
    <div class="panel panel-default" ng-if="!ctrl.settings.length">
      <div class="panel-body">
        <span class="text-muted" translate="MODULE.ACCOUNT.NOTIFICATION_SETTINGS.NO_NOTIFICATIONS"></span>
      </div>
    </div>
  </div>
</div>
