<div class="button-widget">
  <a class="btn" ng-click="!$ctrl.editMode && $ctrl.switchLocation()" ng-class="$ctrl.widget.settings._button.btnClass">
    <input type="text" ng-model="$ctrl.widget.settings.text" ng-if="$ctrl.editMode" placeholder="{{::'WIDGET.BUTTON.PLACEHOLDER' | translate}}">
    <span ng-if="!$ctrl.editMode">{{ $ctrl.widget.settings.text }}</span>
  </a>
</div>