.button-widget {
  .btn {
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  input {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.edit-mode .button-widget .btn {
  cursor: text;

  &:not(.btn-default) {
    ::-webkit-input-placeholder {
      color: $msm-white;
    }
    :-moz-placeholder {
      color: $msm-white;
      opacity: 1;
    }
    ::-moz-placeholder {
      color: $msm-white;
      opacity: 1;
    }
    :-ms-input-placeholder {
      color: $msm-white;
    }
  }
}

.button-widget-settings .preview-field .btn {
  min-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
