<section class="pages-settings">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{:: $ctrl.oldName }} <small translate="SETTINGS"></small></h3>
    </div>

    <form name="pageForm" class="form-horizontal" msm-form-submit="$ctrl.save()">
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error': pageForm.name.$invalid}">
          <label for="name" class="col-sm-2 control-label" translate="PAGE.NAME.LABEL"></label>
          <div class="col-sm-9">
            <div class="input-group">
              <input id="name" name="name" type="text" class="form-control" ng-model="$ctrl.page.name" maxlength="255"
                     ng-required="true" coyo-check-page-name="{{$ctrl.page.id}}"
                     ng-model-options="{ updateOn: 'default blur', debounce: {'default': $root.debounce.sm, 'blur': 0} }">
              <div class="input-group-addon">
                <coyo-validation-status-icon form-field="pageForm.name"></coyo-validation-status-icon>
              </div>
            </div>
            <ng-messages for="pageForm.name.$error" class="help-block validation">
              <p ng-message="required">{{:: 'ERRORS.VALIDATION.REQUIRED' | translate }}</p>
              <p ng-message="pageName">{{:: 'ERRORS.VALIDATION.ALREADY_TAKEN' | translate }}</p>
            </ng-messages>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.NAME.HELP"></coyo-help>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': pageForm.slug.$invalid, 'has-warning': ($ctrl.oldSlug != $ctrl.page.slug)}">
          <label for="name" class="col-sm-2 control-label" translate="PAGE.SLUG.LABEL"></label>
          <div class="col-sm-9">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="visible-xs">/</span>
                <span class="hidden-xs">{{::$ctrl.baseUrl}}</span>
              </div>
              <input id="slug" name="slug" type="text" class="form-control" ng-model="$ctrl.page.slug" maxlength="255"
                     ng-required="true" coyo-check-sender-slug="{{$ctrl.page.id}}" ng-pattern="'^[a-z0-9-]+$'"
                     ng-model-options="{ updateOn: 'default blur', debounce: {'default': $root.debounce.sm, 'blur': 0} }">
              <div class="input-group-addon">
                <coyo-validation-status-icon form-field="pageForm.slug"></coyo-validation-status-icon>
              </div>
            </div>
            <p class="help-block" ng-show="$ctrl.oldSlug != $ctrl.page.slug && !pageForm.slug.$invalid">
              <i class="zmdi zmdi-alert-triangle"></i>&nbsp;{{:: 'PAGE.SLUG.WARNING' | translate }}
            </p>
            <ng-messages for="pageForm.slug.$error" class="help-block validation">
              <p ng-message="required">{{:: 'ERRORS.VALIDATION.REQUIRED' | translate }}</p>
              <p ng-message="pattern">{{:: 'ERRORS.VALIDATION.PATTERN' | translate }}</p>
              <p ng-message="senderSlug">{{:: 'ERRORS.VALIDATION.ALREADY_TAKEN' | translate }}</p>
            </ng-messages>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.SLUG.HELP"></coyo-help>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" translate="PAGE.CATEGORY.LABEL"></label>
          <div class="col-sm-9">
            <coyo-select-page-category ng-model="$ctrl.page.categories" placeholder="PAGE.CATEGORY.NONE"></coyo-select-page-category>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.CATEGORY.HELP"></coyo-help>
          </div>
        </div>

        <hr class="lighter">

        <div class="form-group" ng-class="{'has-error': pageForm.admins.$invalid}">
          <label class="col-sm-2 control-label" translate="PAGE.ADMINS.LABEL"></label>
          <div class="col-sm-9">
            <coyo-user-chooser name="admins" ng-model="$ctrl.page" users-field="adminIds" groups-field="adminGroupIds" min="1"></coyo-user-chooser>
            <ng-messages for="pageForm.admins.$error" class="help-block validation">
              <p ng-message="min">{{::'ERRORS.VALIDATION.MIN' | translate:'{min: 1}'}}</p>
            </ng-messages>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="PAGE.ADMINS.HELP"></coyo-help>
          </div>
        </div>

        <hr class="lighter">

        <div class="form-group">
          <label class="col-sm-2 control-label" translate="PAGE.VISIBILITY.LABEL"></label>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input name="visibility" type="radio" ng-model="$ctrl.page.visibility" value="PUBLIC">
                <i class="zmdi zmdi-hc-fw zmdi-globe"></i>&nbsp;{{:: 'PAGE.VISIBILITY.PUBLIC.LABEL' | translate}}<br>
                <span class="text-muted" translate="PAGE.VISIBILITY.PUBLIC.HELP"></span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="visibility" type="radio" ng-model="$ctrl.page.visibility" value="PRIVATE">
                <i class="zmdi zmdi-hc-fw zmdi-eye-off"></i>&nbsp;{{:: 'PAGE.VISIBILITY.PRIVATE.LABEL' | translate}}<br>
                <span class="text-muted" translate="PAGE.VISIBILITY.PRIVATE.HELP"></span>
                <div class="mt-xs" ng-show="$ctrl.page.visibility == 'PRIVATE'">
                  <coyo-user-chooser ng-model="$ctrl.page" users-field="memberIds" groups-field="memberGroupIds"></coyo-user-chooser>
                </div>
              </label>
            </div>
          </div>
        </div>

        <hr class="lighter" coyo-global-permissions="AUTO_SUBSCRIBE_PAGE">

        <oyoc-page-auto-subscribe-settings page="$ctrl.page" coyo-global-permissions="AUTO_SUBSCRIBE_PAGE"></oyoc-page-auto-subscribe-settings>
      </div>
      <div class="panel-footer panel-actions">
        <div class="row">
          <div class="col-sm-9 col-sm-push-2">
            <msm-form-submit-button label="SAVE" form-ctrl="pageForm"></msm-form-submit-button><!--
         --><a ui-sref="main.page.show({idOrSlug:$ctrl.oldSlug})" class="btn btn-default">
              <i class="zmdi zmdi-close"></i>&nbsp;{{:: 'CANCEL'| translate}}
            </a>
            <span ng-if="$ctrl.showAutoSubscribeInfo" class="text-muted ml-s">
              <i class="zmdi zmdi-info-outline"></i>&nbsp;{{::'MODULE.PAGES.AUTO_SUBSCRIBE.SAVE_HELP' | translate}}
            </span>
            <a ng-click="$ctrl.delete()" ng-if="$ctrl.page._permissions.delete" class="btn btn-danger pull-right">
              <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{:: 'DELETE'| translate}}
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>