.workspace {

  .panel-foreground {
    display: flex;
    align-items: center;
    margin-top: 22px;

    @media screen and (min-width: $screen-sm-min) {
      margin-top: 54px;
    }
  }

  .titles-container {
    overflow: hidden;

    .subtitle {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-height: 72px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
    }
  }

  .workspace-members {
    margin-right: 24px;
  }

  .workspace-avatar-container {
    position: relative;
    margin: -22px 0 12px 16px;

    @media screen and (min-width: $screen-sm-min) {
      margin: -54px 0 16px 24px;
    }

    .sender-avatar {
      border: 3px solid $msm-white;
      background-color: $color-workspace-avatar-bg;
      border-radius: 5px;
    }

    .avatar-overlay-container {
      border-radius: 0 0 5px 5px;
    }
  }
}
