.workspaces-list .category-manager li.filter-entry {
  &:hover:not(.filter-entry-editing) > a {
    padding-right: 88px !important;
  }

  @media screen and (min-width: $screen-md-min) {
    &.filter-entry-options:hover > a .badge {
      display: none;
    }
  }
}

.workspace-card {
  height: 80px;

  .sender-avatar {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;

    img,
    .sender-avatar-empty {
      border-radius: 0;
      background-color: $color-workspace-avatar-bg;

      @media screen and (min-width: $screen-md-min) {
        border-radius: 5px 0 0 5px;
      }
    }
  }

  .panel-body {
    height: 100%;
    padding-left: 98px;
    padding-right: 54px;
    position: relative;

    h4 {
      margin: 1px 0 6px;
      position: relative;
      @include ellipsis();
    }
  }

  .workspace-card-labels .label {
    float: left;
    margin-right: 4px;
  }
}
