<coyo-refresh watch="$ctrl.lastUpdate"><!--
--><span ng-if="$ctrl.likeData" class="btn-likes" ng-class="::{ loading: $ctrl.isLoading, active: $ctrl.likeData.self }" ng-show="::$ctrl.visible"><!--
  --><a class="btn-likes-handle" ng-click="$ctrl.like()"><i class="zmdi zmdi-star"></i> <span class="btn-likes-handl-text"><span translate="ENTITY_TYPE.LIKE"></span></span></a><!--
  --><span class="btn-likes-text"><!--
   --><span ng-if="::($ctrl.likeData.self || $ctrl.likeData.othersCount)"><!--
     --><span class="btn-likes-divider">&ndash;</span><!--
     --><a class="visible-xs-inline visible-sm-inline" ng-click="$ctrl.show()"
           uib-tooltip-template="::$ctrl.tooltipUrlCondensed" tooltip-append-to-body="true" tooltip-enable="::(!$ctrl.isLoading && $ctrl.likeData.othersCount)">{{::($ctrl.likeData.othersCount + $ctrl.likeData.self)}}</a><!--
     --><span class="hidden-xs hidden-sm"><!--
       --><span ng-if="::$ctrl.likeData.self" translate="LIKE.SELF" translate-values="::$ctrl.likeData"></span><!--
       --><a ng-if="::$ctrl.likeData.others.length" coyo-sender-link="::$ctrl.likeData.others[0]">{{:: $ctrl.likeData.others[0].displayName }}</a><!--
       --><span ng-if="::$ctrl.likeData.othersCount > 1"><!--
         --><span translate="LIKE.AND"></span><!--
         --><a ng-click="$ctrl.show()" translate="LIKE.OTHERS" translate-values="::$ctrl.likeData"
               uib-tooltip-template="::$ctrl.tooltipUrl" tooltip-append-to-body="true" tooltip-enable="::!$ctrl.isLoading"></a><!--
       --></span><!--
       --><span translate="LIKE.THIS" translate-values="::$ctrl.likeData"></span><!--
     --></span><!--
   --></span><!--
  --></span><!--
--></span>
</coyo-refresh>