<div class="btn-likes-modal">
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title" translate="LIKE.LIST.TITLE"></h3>
      <span class="modal-close" ng-click="vm.onDismiss ? vm.onDismiss() : $dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
    </div>
    <div class="modal-body" msm-infinite-scroll="vm.loadMore()">
      <div ng-repeat="like in vm.likes" class="like">
        <coyo-sender-avatar sender="like.sender" avatar-size="xs"></coyo-sender-avatar>
        <span class="pl-xxs"></span>
        <a coyo-sender-link="like.sender">{{like.sender.displayName}}</a>
      </div>

      <!-- empty text -->
      <div class="text-center text-muted ph-s pv-xxs"
           ng-if="!vm.loading && !vm.currentPage.totalElements" translate="LIKE.LIST.EMPTY">
      </div>

      <!-- spinner / loading -->
      <div ng-if="vm.loading" class="text-center">
        <msm-spinner></msm-spinner>
      </div>
    </div>
  </div>
</div>