.file-library {
  &.file-library-standalone {
    min-height: inherit;

    .fl-header {
      padding: 2px 0 12px;

      @media screen and (min-width: $screen-sm-min) {
        padding: 0;
      }
    }
  }

  .alert {
    font-size: $font-size-small;
    margin: 12px;
    padding: 8px 16px;

    @media screen and (min-width: $screen-md-min) {
      font-size: $font-size-base;
      margin: -12px 0 24px;
    }
  }

  &.dragover {
    border-radius: $border-radius-base;
    box-shadow: inset 0 0 0 5px $msm-blue;
  }

  .modal-body {
    padding: 0;

    @media screen and (min-width: $screen-sm-min) {
      min-height: 500px;
      padding: 16px 24px;
    }
  }

  .upload-failed {
    color: $msm-red !important;
  }

  .fl-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: $msm-gray-lighter;

    .fl-table-head {
      color: $msm-gray;
      background-color: $msm-white;
      text-transform: uppercase;

      display: none;

      @media screen and (min-width: $screen-md-min) {
        display: table-row;
      }

      > .fl-table-cell {
        border-color: $msm-gray-light;
        padding: 4px 0;
      }
    }

    .fl-table-row {
      background-color: $msm-white;
      display: table-row;
      cursor: pointer;

      &:hover, &.selected {
        background-color: $msm-gray-lighter;

        .options * {
          @media screen and (min-width: $screen-md-min) {
            opacity: 1;
          }
        }
      }

      &.muted:hover {
        background: none;
      }

      &.selected {

        .name i.zmdi:after {
          position: absolute;
          display: inline-block;
          background-color: $msm-green;
          border: 2px solid white;
          border-radius: 100%;
          font-size: 10px;
          font-family: 'Material-Design-Iconic-Font';
          content: '\f26b';
          color: $msm-white;
          text-align: center;
          bottom: -4px;
          right: 14px;
          width: 16px;
          height: 16px;
          line-height: 12px;
        }

      }

      &.muted {
        color: $msm-gray-light;
        cursor: not-allowed;

        .size,
        .name .name-inner .text {
          color: $msm-gray-light;
        }

      }

      &.highlighted {
        background-color: $color-text-highlight-bg;
      }

      &:last-child .fl-table-cell {
        border-bottom: none;
      }

      .name {
        .name-inner {
          display: flex;

          .text {
            flex: 1;
            align-self: center;
            color: $msm-black;
            overflow: hidden;
            word-break: break-all;
            padding-right: 10px;

            @media screen and (min-width: $screen-xs-min) {
              @include ellipsis();
            }
          }
        }
      }

      .size {
        text-align: right;
        padding-right: 12px;
        color: $msm-gray;

        @media screen and (min-width: $screen-md-min) {
          text-align: left;
          font-size: 16px;
          color: $msm-black;
        }
      }

      .options * {
        @media screen and (min-width: $screen-md-min) {
          opacity: 0;
        }
      }

      &.edit-mode {
        .filename-form {
          width: 100%;
          margin-right: 12px;
          margin-top: -2px;
          margin-bottom: -2px;

          input {
            width: 100%;
            outline: none;
          }
        }
      }
    }

    .fl-table-cell {
      display: table-cell;
      border-bottom: 1px solid $msm-gray-light;
      padding: 10px 0;
      vertical-align: middle;

      .file-icon {
        margin: 0 8px;
        font-size: 1.7em;
        position: relative;
      }

      .sender-icon,
      .sender-type-icon {
        margin: 0 16px;

        i {
          vertical-align: middle;
        }
      }
    }

    .changed {
      display: none;
      width: 200px;

      @media screen and (min-width: $screen-md-min) {
        display: table-cell;
      }
    }

    .size {
      display: table-cell;
      width: 100px;
    }

    .options {
      display: table-cell;
      padding-right: 12px;
      width: 55px;
      text-align: right;
      position: relative;

      .msm-spinner.small {
        font-size: 1px;
        opacity: 1;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 20px;
      }
    }
  }

  .fl-header {
    border-bottom: 1px solid $msm-gray-light;
    display: flex;
    padding: 12px;
    margin: 0;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 24px;
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }

  .fl-breadcrumbs {
    flex: 1;
    background: $msm-gray-lighter;
    margin: 0;
    border-radius: 5px 0 0 5px;

    &:last-child {
      border-radius: 5px;
    }

    .zmdi-caret-right {
      font-size: 22px;
      vertical-align: bottom;
      margin: 0 6px;
    }
  }

  .fl-actions {
    margin-left: 1px;
    background: $msm-gray-lighter;
    padding: 8px 16px;
    border-radius: 0 5px 5px 0;

    a {
      border: 0;
    }
  }

  .fl-empty {
    margin: 32px auto 0;
    max-width: 320px;
    min-width: 240px;
    text-align: center;
    width: 50%;

    a {
      display: block;
    }

    i {
      display: block;
      font-size: 5em;
      margin-bottom: 8px;
    }
  }

  // Drag & Drop

  .drag-enter.folder {
    background: $state-info-bg;

    &.dragging {
      background: $msm-gray-lighter;
    }
  }

  .dragging .fl-table-cell {
    border-bottom: 0;
  }

  .dragging + .fl-table-row .fl-table-cell {
    border-top: 1px solid $msm-gray-light;
    border-bottom: 1px solid $msm-gray-light;
  }

  .drop-zone ul {
    color: $msm-gray-darker;
    padding-left: 17px;

    &.drag-enter {
      background: $state-info-bg;
    }

    i {
      width: 35px;
    }
  }
}
