<div class="panel-body timeline-item-body" ng-if="::tlItem.ngModel.data.message">
  <div class="timeline-item-message" coyo-mention-encode="tlItem.ngModel.data.message | markdown | hashtag"></div>
  <small ng-if="tlItem.ngModel.data.edited"
        class="text-muted"
        translate="MODULE.TIMELINE.EDIT.REMARK"
        translate-value-modified="{{tlItem.ngModel.modified | amTimeAgo}}"></small>
</div>

<div class="panel-body timeline-item-attachments" ng-if="::tlItem.ngModel.attachments.length">
  <coyo-preview-list attachments="::tlItem.ngModel.attachments"
                     group-id="::tlItem.ngModel.id"
                     backend-url="::tlItem.backendUrl"
                     author="::tlItem.ngModel.author"
                     preview-url="::tlItem.preview"
                     size="xl"></coyo-preview-list>
</div>
