.app-chooser {
  margin-top: -8px;

  .app-entry {
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    margin-top: 8px;

    i {
      font-size: 48px;
      height: 82px;
      width: 82px;
      color: $msm-gray-darker;
    }

    h5 {
      font-weight: normal;
      margin-top: 8px;
      margin-bottom: 0;
      @include ellipsis();
    }

    &:hover {
      cursor: pointer;
      background-color: $msm-gray-lighter;

      i {
        color: $color-link;
        border-color: $color-link;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .app-chooser {

    .app-entry {
      text-align: left;
      padding: 8px 12px;

      i {
        float: left;
        margin: 4px 0;
      }

      .app-entry-description {
        margin-left: 98px;
      }

      h5 {
        margin-top: 0;
        margin-bottom: 6px;
      }

      small {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 63px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .app-chooser {
    margin-top: -12px;

    .app-entry {
      margin-top: 12px;
      padding: 12px 16px;

      i {
        height: 106px;
        width: 106px;
        line-height: 96px;
        margin: 3px 0;
      }

      .app-entry-description {
        margin-left: 122px;
      }

      h5 {
        margin-top: 1px;
      }

      small {
        max-height: 84px;
        -webkit-line-clamp: 4;
      }
    }
  }
}
