<div class="panel">
  <div class="panel-body">
    <coyo-widget-layout name="app-content-{{$ctrl.app.id}}"
                        parent="$ctrl.app"
                        global-events="false"
                        can-manage="$ctrl.app._permissions.manage"
                        render-style="plain"></coyo-widget-layout>
  </div>
  <div class="panel-footer panel-actions" ng-if="$ctrl.app._permissions.manage">
    <a class="btn btn-primary" ng-if="!$ctrl.editMode" ng-click="$ctrl.edit();">
      <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;{{::'APP.CONTENT.EDIT_MODE.START' | translate}}
    </a><!--
 --><a class="btn btn-primary" ng-if="$ctrl.editMode" ng-click="$ctrl.save();">
      <i class="zmdi zmdi-hc-fw zmdi-check" ng-class="{'zmdi-check': !$ctrl.saving, 'zmdi-spinner zmdi-hc-spin': $ctrl.saving}"></i>&nbsp;{{::'SAVE' | translate}}
    </a><!--
 --><a class="btn btn-default" ng-if="$ctrl.editMode" ng-click="$ctrl.cancel();">
      <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{::'CANCEL' | translate}}
    </a>
  </div>
</div>