<div class="checkbox">
    <div class="sub-settings">
        <label>
            <coyo-checkbox id="discussion" ng-model="$ctrl.setting.properties.notifications.discussion" ng-change="$ctrl.onChange(setting)" ng-disabled="!$ctrl.setting.active"></coyo-checkbox>
            {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.FORM.BROWSER.NOTIFICATIONS.DISCUSSION.CHECKBOXLABEL' | translate}}
        </label>
        <br />
        <label>
            <coyo-checkbox id="activity" ng-model="$ctrl.setting.properties.notifications.activity" ng-change="$ctrl.onChange(setting)" ng-disabled="!$ctrl.setting.active"></coyo-checkbox>
            {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.FORM.BROWSER.NOTIFICATIONS.ACTIVITY.CHECKBOXLABEL' | translate}}
        </label>
        <br />
        <label>
            <coyo-checkbox id="post" ng-model="$ctrl.setting.properties.notifications.post" ng-change="$ctrl.onChange(setting)" ng-disabled="!$ctrl.setting.active"></coyo-checkbox>
            {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.FORM.BROWSER.NOTIFICATIONS.POST.CHECKBOXLABEL' | translate}}
        </label>
        <br />
        <label>
            <coyo-checkbox id="message" ng-model="$ctrl.setting.properties.notifications.message" ng-change="$ctrl.onChange(setting)" ng-disabled="!$ctrl.setting.active"></coyo-checkbox>
            {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.FORM.BROWSER.NOTIFICATIONS.MESSAGE.CHECKBOXLABEL' | translate}}
        </label>
    </div>
</div>