.btn-subscribe {
  display: inline-block;

  a {
    color: $msm-gray;
    transition: color linear 0.2s;
    line-height: 26px;

    &:hover {
      color: $msm-gray-darker;
    }

    &.handle {
      font-size: 128.571428571%;
    }
  }

  &.active a.handle {
    color: $color-link;
  }

  &.loading a.handle {
    color: $msm-gray-light;
  }
}