<div class="timeline-share">
  <div class="panel-body">
    <div class="timeline-share-author-avatar" ng-if="tlShare.ngModel.author">
      <coyo-sender-avatar sender="tlShare.ngModel.author" avatar-size="xs"></coyo-sender-avatar>
    </div>
    <div class="timeline-share-body">
      <span class="small">
        <a class="timeline-share-author-name" coyo-sender-link="tlShare.ngModel.author"
           ng-if="tlShare.ngModel.author && tlShare.ngModel.author.id !== tlShare.currentUser.id">{{ tlShare.ngModel.author.displayName }}</a>
        <span class="text-muted" translate="{{ tlShare.headline }}" translate-value-time="{{tlShare.ngModel.created | amTimeAgo}}"></span>
        <a class="timeline-share-recipient-name" coyo-sender-link="tlShare.ngModel.recipient"
           ng-if="tlShare.ngModel.recipient && tlShare.ngModel.recipient.id !== tlShare.currentUser.id">{{ tlShare.ngModel.recipient.displayName }}</a>
        <span class="text-muted" translate="{{ tlShare.headlineSuffix }}" translate-value-time="{{ tlShare.ngModel.created | amTimeAgo }}"></span>
      </span>
      <div class="timeline-share-message" ng-if="tlShare.ngModel.data.message" coyo-mention-encode="tlShare.ngModel.data.message | markdown"></div>
    </div>
  </div>
</div>