// Login
// --------------------------------------------------

.backend-url-reset {
  position: absolute;
  top: 11px;
  right: 12px;

  .zmdi {
    font-size: 20px;
    color: $msm-gray-darker;

    &:hover {
      color: $msm-red;
    }
  }
}

.auto-login-msg {
  color: rgba($msm-white, 0.5);
  font-size: 20px;
}

#login-error {
  padding: 12px;
}