.sender-avatar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }

  .sender-avatar-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 22px;
    color: $msm-gray;
    text-transform: uppercase;
  }

  > i {
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    width: 80px;
  }

  &.xs {
    width: 30px;
    height: 30px;

    .sender-avatar-empty {
      font-size: 14px;
    }

    > i {
      font-size: 24px;
      line-height: 30px;
      width: 30px;
    }
  }

  &.sm {
    width: 40px;
    height: 40px;

    .sender-avatar-empty {
      font-size: 16px;
    }

    > i {
      font-size: 32px;
      line-height: 40px;
      width: 40px;
    }
  }

  &.lg {
    width: 120px;
    height: 120px;

    .sender-avatar-empty {
      font-size: 36px;
    }

    > i {
      font-size: 96px;
      line-height: 120px;
      width: 120px;
    }
  }

  &.xl {
    width: 160px;
    height: 160px;

    .sender-avatar-empty {
      font-size: 48px;
    }

    > i {
      font-size: 128px;
      line-height: 160px;
      width: 160px;
    }
  }
}
