.filterbox {
  .filter {
    min-width: 250px;
    position: relative;

    &.loading:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .filter-title {
      padding: 12px 16px;
    }
  }

  &.filterbox-vertical .filter {
    .filter-title {
      min-width: inherit;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 24px;
      }
    }
    > ul {
      @media screen and (min-width: $screen-md-min) {
        padding-bottom: 24px;
      }
    }
  }
}
