// Image upload
// --------------------------------------------------

.image-upload {

  .drop-box {
    border: 5px dashed $msm-gray;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 250px;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $msm-gray-lighter;
      cursor: pointer;
      border: 5px dashed $msm-blue;
    }

    &.content-error {
      border: 5px dashed $msm-red;
    }

    @media screen and (min-width: $screen-sm-min) {
      min-height: 300px;
    }

    @media screen and (min-width: $screen-md-min) {
      min-height: 400px;
    }
  }

  .drop-text {
    color: $msm-gray;
    font-size: 60px;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }

  .drag-over {
    background-color: $msm-gray-lighter;
    border: 5px dashed $msm-blue;
  }

  .crop-area {
    height: 100%;
    min-height: 250px;
    text-align: center;
    width: 100%;

    ui-cropper {
      height: 100%;
      min-height: 330px;
      min-width: 250px;
    }

    @media screen and (min-width: $screen-sm-min) {
      min-height: 300px;

      ui-cropper {
        min-height: 300px;
      }
    }

    @media screen and (min-width: $screen-md-min) {
      min-height: 400px;

      ui-cropper {
        min-height: 400px;
      }
    }
  }

}
