.downloads-widget {

  .downloads-widget-file {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .downloads-widget-icon {
      color: $msm-gray-darker;
      padding-top: 1px;
      margin-left: 3px;
      margin-right: 11px;
    }
  }

  .downloads-widget-link {
    word-break: break-all;
    max-width: 100%;

    .file-name {
      display: block;
      max-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding-right: 15px;
      white-space: nowrap;
    }
  }
}

.edit-mode .downloads-widget-link {
  width: 100%;
}

.downloads-widget-settings .fl-file-picker ul.fl-file-picker-list {
    margin-top: 0;
}
