<div>
  <form class="timeline-form-modal" name="$ctrl.form" msm-form-submit="$ctrl.save()">
    <div class="modal-content-wrapper">

      <div class="modal-header">
        <h3 class="modal-title" translate="MODULE.TIMELINE.FORM.MODAL.TITLE"></h3>
        <span class="modal-close" ng-click="vm.onDismiss ? vm.onDismiss() : $dismiss('cancel')">
          <i class="zmdi zmdi-close img-close"></i>
        </span>
        <coyo-select-sender ng-model="$ctrl.author"
                            required="true"
                            class="visible-xs"
                            parameters="{ 'staticOptions' : $ctrl.staticSenderOptions,
                                        'allowedTypeNames': ['page', 'workspace'],
                                        'selectSenderOptionGroups':  $ctrl.selectSenderOptionGroups,
                                        'position': 'down',
                                        'findOnlyManagedSenders': true,
                                        'onlyShowAvatarForMatches' : true,
                                        'searchDisabled': true,
                                        'class': 'timeline-form-inline-sender-select'}">
        </coyo-select-sender>
      </div>

      <!-- Spinner -->
      <div class="modal-body text-center pt-xs" ng-show="$ctrl.saving">
        <msm-spinner size="small"></msm-spinner>
      </div>

      <div class="modal-body" ng-show="!$ctrl.saving">

        <textarea id="message" name="message"
                  class="form-control"
                  ng-attr-placeholder="{{::'MODULE.TIMELINE.FORM.PLACEHOLDER' | translate}}"
                  ng-model="$ctrl.newItemModel.data.message"
                  ng-required="true"
                  ng-keydown="$ctrl.onKeyDown($event)"
                  ng-init="$ctrl.focusMessageField = true"
                  ng-focus="$ctrl.form.$pristine = false"
                  ng-blur="$ctrl.focusMessageField = false"
                  focus-on="$ctrl.focusMessageField"
                  coyo-mention-select></textarea>

        <div class="timeline-form-attachments" ng-if="$ctrl.newItemAttachments.length">
          <div class="timeline-form-attachment"
               ng-repeat="attachment in $ctrl.newItemAttachments | limitTo:20"
               ng-class="{ uploading : attachment.uploading, done : (attachment.progress === 100) }">
            <div class="timeline-form-attachment-icon">
              <coyo-file-icon file="::attachment"></coyo-file-icon>
            </div>
            <div class="timeline-form-attachment-name">{{attachment.name}}</div>
            <div class="timeline-form-attachment-opt">
              <span class="text-muted" ng-if="attachment.uploading">{{attachment.progress}}%</span>
              <a ng-if="!attachment.uploading" ng-click="$ctrl.removeAttachment(attachment)">
                <i class="zmdi zmdi-close-circle-o red"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer" ng-show="!$ctrl.saving">
        <a class="btn btn-default timeline-form-attachment-trigger"
           ngf-select="$ctrl.addAttachments($files, $invalidFiles)"
           ngf-multiple="true"
           ng-disabled="$ctrl.saving">
          <i class="zmdi zmdi-attachment-alt"></i>&nbsp;{{::'ATTACH_FILES' | translate}}
        </a>
        <button class="btn btn-primary" ng-disabled="$ctrl.form.$invalid">
          <i class="zmdi zmdi-check"></i>&nbsp;{{::'SEND' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
