.timeline-form-modal {

  .modal-header {
    .timeline-form-inline-sender-select {
      position: inherit;

      .ui-select-toggle {
        padding: 6px 16px;
        background-color: transparent !important;
        color: $msm-white;
        float: left;
      }
    }

    coyo-select-sender {
      position: absolute;
      top: 2px;
      right: auto;
      bottom: auto;
      left: 0;

      .sender-avatar-empty {
        padding: 3px;
      }
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  textarea[name=message].form-control {
    flex: 1;

    border: 0;
    background: transparent;
    resize: none;
    padding: 0;

    &:focus {
      box-shadow: none !important;
    }
  }

  .timeline-form-attachments {
    margin: 12px 0 0 0;
    padding-top: 6px;
    font-size: 14px;
    border-top: 1px solid $msm-gray-light;

    .timeline-form-attachment {
      display: flex;
      min-width: 0;
      padding: 4px 0;

      .timeline-form-attachment-icon {
        flex: none;
        padding-right: 4px;
      }

      .timeline-form-attachment-name {
        flex: 1;
        padding-right: 4px;
        @include ellipsis();
      }

      .timeline-form-attachment-opt {
        flex: none;
        font-size: 16px;
      }
    }
  }
}
