<div class="timeline-form-inline panel panel-default">
  <form name="$ctrl.form" class="form-horizontal" msm-form-submit="$ctrl.save()"
        ng-class="{ expanded : !$ctrl.form.$pristine }">

    <coyo-select-sender ng-model="$ctrl.author"
                        required="true"
                        parameters="{ 'staticOptions' : $ctrl.staticSenderOptions,
                                      'allowedTypeNames': ['page', 'workspace'],
                                      'selectSenderOptionGroups':  $ctrl.selectSenderOptionGroups,
                                      'findOnlyManagedSenders': true,
                                      'onlyShowAvatarForMatches' : true,
                                      'searchDisabled': true,
                                      'class': 'timeline-form-inline-sender-select'}">
    </coyo-select-sender>

    <textarea id="message" name="message"
              class="form-control"
              ng-attr-placeholder="{{::'MODULE.TIMELINE.FORM.PLACEHOLDER' | translate}}"
              ng-model="$ctrl.newItemModel.data.message"
              ng-required="true"
              ng-keydown="$ctrl.onKeyDown($event)"
              ng-focus="$ctrl.form.$pristine = false"
              ng-blur="$ctrl.focusMessageField = false"
              focus-on="$ctrl.focusMessageField"
              msd-elastic rows="1"
              coyo-mention-select></textarea>

    <div class="timeline-form-attachments" ng-if="$ctrl.newItemAttachments.length">
      <div class="timeline-form-attachment"
           ng-repeat="attachment in $ctrl.newItemAttachments | limitTo:20"
           ng-class="{ uploading : attachment.uploading, done : (attachment.progress === 100) }">
        <div class="timeline-form-attachment-icon">
          <coyo-file-icon file="::attachment" class="zmdi-hc-lg"></coyo-file-icon>
        </div>
        <div class="timeline-form-attachment-name">{{attachment.name}}</div>
        <div class="timeline-form-attachment-opt">
          <span class="text-muted" ng-if="attachment.uploading">{{attachment.progress}}%</span>
          <a ng-if="!attachment.uploading" ng-click="$ctrl.removeAttachment(attachment)">
            <i class="zmdi zmdi-close-circle-o red"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="timeline-form-actions clearfix">
      <coyo-emoji-picker ng-model="$ctrl.newItemModel.data.message"
                         focus-var="$ctrl.focusMessageField">
      </coyo-emoji-picker>

      <a class="timeline-form-attachment-trigger"
         ngf-select="$ctrl.addAttachments($files, $invalidFiles)"
         ngf-multiple="true"
         ng-disabled="$ctrl.saving">
        <i class="zmdi zmdi-attachment-alt"
           uib-tooltip="{{::'ATTACH_FILES' | translate}}" tooltip-popup-delay="500"></i>
      </a>

      <span class="timeline-form-sticky-trigger">
        <a id="sticky-toggle-{{$ctrl.uuid}}"
           coyo-global-permissions="CREATE_STICKY_TIMELINE_ITEM"
           class="timeline-form-sticky-trigger"
           tooltip-popup-delay="750"
           uib-tooltip="{{($ctrl.stickyExpiry ? 'MODULE.TIMELINE.TOOLTIPS.STICKY.SELECTED' : 'MODULE.TIMELINE.TOOLTIPS.STICKY.UNSELECTED') | translate}}">
          <i class="zmdi" ng-class="{'zmdi-alert-circle-o': !$ctrl.stickyExpiry, 'zmdi-alert-circle': $ctrl.stickyExpiry}"></i>
        </a>
        <coyo-context-menu toggle-element="#sticky-toggle-{{::$ctrl.uuid}}">
          <li class="timeline-form-sticky-header">{{::'MODULE.TIMELINE.STICKY.EXPIRY.LABEL' | translate}} <coyo-help tip="MODULE.TIMELINE.STICKY.EXPIRY.HELP"></coyo-help></li>
          <li class="divider"></li>
          <li ng-repeat="option in $ctrl.stickyExpiryOptions"
              ng-class="{'active': $ctrl.stickyExpiry === option.expiry}">
            <a href ng-click="$ctrl.stickyExpiry = option.expiry"><i class="zmdi zmdi-time zmdi-hc-fw"></i>&nbsp;{{::option.label | translate}}</a>
          </li>
          <li ng-if="$ctrl.stickyExpiry">
            <a href ng-click="$ctrl.stickyExpiry = null">
              <i class="zmdi zmdi-minus zmdi-hc-fw"></i>&nbsp;{{::'MODULE.TIMELINE.STICKY.EXPIRY.NONE' | translate}}
            </a>
          </li>
        </coyo-context-menu>
      </span>

      <msm-form-submit-button label="SEND" form-ctrl="$ctrl.form"></msm-form-submit-button>

      <coyo-help guide="user/markdown" class="hidden-xs hidden-sm help-markdown"
                 tip="MODULE.TIMELINE.FORM.HELP" placement="left"></coyo-help>

    </div>
  </form>
</div>
