.permissions-column {
  @media screen and (min-width: $screen-sm-min) {
    width: 45%;
  }
}

.permission-group {
  padding-bottom: 24px;

  .permission-group-title {
    text-transform: uppercase;

    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }
  }

  .permission-group-toggle {
    padding-left: 24px;
    padding-top: 2px;

    @media screen and (max-width: $screen-xs-max) {
      text-align: right;
      padding-right: 26px;
      padding-left: 0;
    }
  }

  .permission-row {
    display: flex;
    align-items: center;
  }

  .permission-label {
    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }
    color: $msm-gray;
    label {
      font-weight: normal;
    }
  }

  .permission-checkbox {
    @media screen and (max-width: $screen-xs-max) {
      text-align: right;
    }

    .btn.coyo-checkbox {
      width: 30px;
      height: 30px;
      border: 2px solid $msm-gray-light;
      border-radius: 15px;
      margin: 5px 0;

      &:focus {
        box-shadow: none;
      }

      &:before {
        color: $msm-gray-light;
        line-height: 26px;
        text-align: center;
        font-family: Material-Design-Iconic-Font, serif;
        content: '\f136';
      }

      &.checked {
        &:before {
          color: $msm-green;
          content: '\f26b';
        }
        border-color: $msm-green;
      }
      i.zmdi {
        display: none;
      }
    }
  }
}
