<div class="single-file-widget-setting">
  <div class="text-center m-m" ng-if="$ctrl.loading">
    <msm-spinner size="small"></msm-spinner>
  </div>
  <div class="form-group" ng-if="!$ctrl.loading">
    <label class="col-sm-3 control-label" translate="WIDGET.SINGLEFILE.SETTINGS.FILE.LABEL"></label>
    <coyo-file-picker ng-if="!$ctrl.loading"
                      ng-required="true"
                      sender="$ctrl.sender"
                      class="col-sm-8"
                      ng-model="$ctrl.model.selectedFile"
                      options="{selectMode: 'single'}">
    </coyo-file-picker>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.SINGLEFILE.SETTINGS.FILE.HELP"></coyo-help>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label" translate="WIDGET.SINGLEFILE.SETTINGS.HIDE_PREVIEW.LABEL"></label>
    <div class="col-sm-6">
      <coyo-checkbox ng-model="$ctrl.model.settings._hidePreview"></coyo-checkbox>
    </div>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.SINGLEFILE.SETTINGS.HIDE_PREVIEW.HELP"></coyo-help>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label" translate="WIDGET.SINGLEFILE.SETTINGS.HIDE_DATE.LABEL"></label>
    <div class="col-sm-6">
      <coyo-checkbox ng-model="$ctrl.model.settings._hideDate"></coyo-checkbox>
    </div>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.SINGLEFILE.SETTINGS.HIDE_DATE.HELP"></coyo-help>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label" translate="WIDGET.SINGLEFILE.SETTINGS.HIDE_SENDER.LABEL"></label>
    <div class="col-sm-6">
      <coyo-checkbox ng-model="$ctrl.model.settings._hideSender"></coyo-checkbox>
    </div>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.SINGLEFILE.SETTINGS.HIDE_SENDER.HELP"></coyo-help>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label" translate="WIDGET.SINGLEFILE.SETTINGS.HIDE_DOWNLOAD_LINK.LABEL"></label>
    <div class="col-sm-6">
      <coyo-checkbox ng-model="$ctrl.model.settings._hideDownload"></coyo-checkbox>
    </div>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.SINGLEFILE.SETTINGS.HIDE_DOWNLOAD_LINK.HELP"></coyo-help>
    </div>
  </div>
</div>
