.complete-profile-widget {

  dl dd {
    line-height: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    i.zmdi {
      margin-left: 3px;

      &.zmdi-close {
        color: $msm-red;
        margin-right: 15px;
      }

      &.zmdi-check {
        color: $msm-green;
        margin-right: 13px;
      }
    }

    a {
      color: $msm-gray-darker;

      &.completed{
        color: $msm-gray;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
