<a class="page-subscribe btn btn-zmdi"
        ng-class="{ 'btn-default': !$ctrl.darkTheme && !$ctrl.subscribed,
                    'btn-dark': $ctrl.darkTheme && !$ctrl.subscribed,
                    'btn-success': $ctrl.subscribed }"
        ng-click="$ctrl.toggle($event)"
        ng-show="$ctrl.show && !$ctrl.autoSubscribe">
  <i class="zmdi zmdi-hc-fw" ng-class="{ 'zmdi-notifications-active': !$ctrl.loading && $ctrl.subscribed,
                                         'zmdi-notifications-none': !$ctrl.loading && !$ctrl.subscribed,
                                         'zmdi-spinner zmdi-hc-spin': $ctrl.loading }"></i>&nbsp;<!--
--><span class="btn-mobile-label" ng-hide="$ctrl.subscribed" translate="PAGE.SUBSCRIBE"></span><!--
--><span class="btn-mobile-label" ng-show="$ctrl.subscribed" translate="PAGE.SUBSCRIBED"></span>
</a>