// Mixins - Set link colors
// --------------------------------------------------

// example usage:
// @include link-colors(#c1, #c2, #c3, #c4)
@mixin link-colors($link, $visit, $hover, $active) {

  a {
    color: $link;

    &:visited {
      color: $visit;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }

  }

}
