// Mixins - Set up ellipsis
// --------------------------------------------------

// example usage:
// @include ellipsis()
// @include ellipsis-multiline(2, 48px)
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsis-multiline($lines, $max-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-height: $max-height;
}
