// Mixins - Styles for dropdowns
// --------------------------------------------------

// example usage:
// @include dropdown()
@mixin dropdown() {
  cursor: default;

  background-color: $msm-white;
  border-radius: 5px;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

  overflow: hidden;
}
