// Mixins - Presence status
// --------------------------------------------------

@mixin presence-status-color() {
  color: $msm-gray;

  &.ONLINE {
    color: $msm-green;
  }

  &.AWAY {
    color: #FFAA00;
  }

  &.BUSY {
    color: #00b3ee;
  }

  &.GONE {
    color: #bc2bee;
  }

  &.OFFLINE {
    color: $msm-gray;
  }
}

@mixin presence-status-bgcolor() {
  background-color: $msm-gray;

  &.ONLINE {
    background-color: $msm-green;
  }

  &.AWAY {
    background-color: #FFAA00;
  }

  &.BUSY {
    background-color: #00b3ee;
  }

  &.GONE {
    background-color: #bc2bee;
  }

  &.OFFLINE {
    background-color: $msm-gray;
  }
}