body.state-front-terms {
  background-attachment: fixed;

  @media screen and (max-height: 840px) {
    height: inherit;
    position: relative;
    @include background-gradient-top-left-to-bottom-right($color-primary, $color-secondary);

    .body {
      background: transparent;
      padding-top: 30px;
    }
  }

  .front-container {
    max-width: 992px;

    .rte-html-container {
      background: lighten($msm-gray-lighter, 2%);
      border: 1px solid $msm-gray-light;
      border-radius: 5px;
      padding: 18px 24px;

      @media screen and (min-width: $screen-md-min) and (min-height: 840px) {
        overflow-y: auto;
        max-height: 450px;
      }
    }

    .form-actions {
      margin-top: 24px;
    }
  }
}