<form name="form" msm-form-submit="ctrl.save()" class="wiki-article">
  <div class="panel">
    <div class="wiki-article-header">
      <div class="panel-heading panel-heading-main article-header">
        <h1 class="panel-title article-title" translate="APP.WIKI.CREATE"></h1>
      </div>
    </div>

    <div class="panel-body" ng-show="!ctrl.loading">
      <div>
        <div class="inner-tab">
          <div class="row">
            <div class="col-sm-12 wiki-article-title">
              <div class="form-group" ng-class="{'has-error': form.title.$invalid && form.title.$touched}">
                <label for="title" class="control-label" translate="APP.WIKI.ARTICLE.TITLE"></label>
                <input id="title"
                       name="title"
                       type="text"
                       class="form-control"
                       maxlength="255"
                       ng-model="ctrl.article.title"
                       ng-required="true"/>
                <ng-messages for="form.title.$error" class="help-block validation">
                  <p ng-message="required" translate="ERRORS.VALIDATION.REQUIRED"></p>
                </ng-messages>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 wiki-article-parent">
              <div class="form-group">
                <label class="control-label" translate="APP.WIKI.SELECT.PARENT.LABEL"></label>
                <coyo-select-wiki-article ng-model="ctrl.article.parentId"
                                          placeholder="APP.WIKI.SELECT.PARENT.NO_ARTICLES_FOUND"></coyo-select-wiki-article>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 wiki-article-text">
              <coyo-widget-layout name="app-wiki-{{ctrl.app.id}}-{{ctrl.article.id}}-0"
                                  parent="ctrl.article"
                                  global-events="false"
                                  create-mode="true"
                                  can-manage="ctrl.app._permissions.createArticle"
                                  render-style="plain"
                                  simple-mode="ctrl.simpleMode"
                                  add-initial-widget="ctrl.article.isNew() && ctrl.simpleMode"></coyo-widget-layout>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body text-center m-m" ng-show="ctrl.loading">
      <msm-spinner></msm-spinner>
    </div>

    <div class="panel-footer panel-actions">
      <msm-form-submit-button form-ctrl="form" label="SAVE" class="article-save"></msm-form-submit-button><!--
   --><a ng-click="ctrl.cancel()" class="btn btn-default article-cancel">
        <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{:: 'CANCEL' | translate }}
      </a>
      <a href class="btn btn-link btn-right" ng-click="ctrl.simpleMode = !ctrl.simpleMode">
        <span ng-if="!ctrl.simpleMode">{{::'WIDGETS.LAYOUT.EDIT_MODE.SIMPLE' | translate}}</span>
        <span ng-if="ctrl.simpleMode">{{::'WIDGETS.LAYOUT.EDIT_MODE.ADVANCED' | translate}}</span>
      </a>
    </div>
  </div>
</form>
