<section class="profile-tab profile-overview">

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-content"
                 name="profile-activity-content"
                 hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

    <coyo-timeline-stream type="sender" context-id="{{profileCtrl.user.id}}"></coyo-timeline-stream>

</section>