<picture picturefill ng-if="$ctrl.imageUrls && !$ctrl.isProcessing && $ctrl.previewAvailable">
  <source ng-repeat="(size, url) in $ctrl.imageUrls" ng-srcset="{{url}}" pf-media="{{size}}" />
  <source ng-srcset="{{$ctrl.defaultUrl}}" />
  <img ng-srcset="{{$ctrl.imageUrl}}" />
</picture>
<div class="text-center" ng-if="$ctrl.isProcessing && $ctrl.previewAvailable">
  <msm-spinner size="small"></msm-spinner>
</div>

<span class="text-muted" ng-if="!$ctrl.previewAvailable" translate="PREVIEW_NOT_AVAILABLE"></span>
